{% import "bootstrap/wtf.html" as wtf %}


{% extends "layouts/app.html" %}

{% block title %}
    hishop
{% endblock title %}

{% block head %}

{{super()}}
<style type = "text/css">
 #makeCenter {
  position: relative;
  transform: translate(0,30vh);
}
</style>
{% endblock %}

{% block page %}
<div id="makeCenter">
    <div class="row align-items-center justify-content-center ">
            <div class="col-md-5 ">
                <div class="row justify-content-center">
                    
                    <div class="col-auto">
                            <p class="text-center font-weight-bold" style="font-size: 24px; color: blue;">忘記密碼</p>
                    </div>
                    
                </div>
            </div>
    </div>
<!--  for testing    -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <div class="alert alert-{{ category }}" role="alert">
                            {{ message }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <form action="{{ url_for('forgot') }}" method="POST">
        {{ form.csrf_token }}
        <div class="row justify-content-center form-group">
            <div class="col-md-5 required">
                {% if form.account.errors %}
                    {{ form.account(class="form-control is-invalid", placeholder="請輸入帳號") }}
                    {% for error in form.account.errors %}<p class="invalid-feedback" role="alert"><strong>{{ error }}</strong></p>{% endfor %}
                {% else %}
                    {{ form.account(class="form-control", placeholder="請輸入帳號") }}
                {% endif %}
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-5 form-group required">
                {{ form.submit(class="btn btn-primary col-12") }}
            </div>
        </div>

        <div class="row justify-content-center form-group">
            <div class="col-md-5 text-center">
                <a href="{{ url_for('login') }}"><p style="text-decoration:underline;">返回登入頁</p></a>
            </div>
        </div>
    </form>
</div>
{% endblock page %}
{%block footer%}{%endblock footer%}