{% extends "bootstrap/base.html" %}

{% block title %}
	{{ config['NAME'] }}
{% endblock title %}

{% block head %}
	{{ super() }}
	<script src="https://kit.fontawesome.com/71a9eb620b.js" crossorigin="anonymous"></script>
	<style type = "text/css">
 body {
	background-color: #F0F0F0
}
</style>
{% endblock head %}

{% block navbar %}
	{% include 'layouts/navbar.html' %}
{% endblock navbar %}

{% block content %}
	<div class="container">
		{% block page %}{% endblock page %}
	</div>
{% endblock content %}
