{% extends "bootstrap/base.html" %}

{% block title %}
	{{ config['APP_NAME'] }}
{% endblock title %}

{% block head %}
	<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static',filename='icon.png', _external=True) }}" />
	{{ super() }}
	<script src="https://kit.fontawesome.com/71a9eb620b.js" crossorigin="anonymous"></script>
{% endblock head %}

{% block styles %}
	{{ super() }}
	<style type = "text/css">
		body {
            padding-top: 0px;
            background-color: #f4f4f4;
			height: 100vh;
		}

		#header {
			min-height: 10%;
		}

		#content {
			max-height: 90%;
		}
	</style>
{% endblock styles %}

{% block navbar %}
	{% include 'layouts/navbar.html' %}
{% endblock navbar %}

{% block content %}
	<div id="content" class="container">
	{% block page %}{% endblock page %}
	{% block footer%}
	{% include 'layouts/footer.html' %}
	{% endblock footer%}
	</div>
{% endblock content %}
