{% extends "bootstrap/base.html" %}

{% block title %}
	{{ config['APP_NAME'] }}
{% endblock title %}

{% block head %}
	<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static',filename='icon.png', _external=True) }}" />
	{{ super() }}	
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:500,700&display=swap&subset=chinese-traditional" rel="stylesheet">
{% endblock head %}

{% block metas %}
	{{ super() }}
	<META NAME="Description" CONTENT="HiShop 是讓臺灣海洋大學師生都能方便的買賣、競標的交易平台。">
{% endblock metas %}

{% block styles %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.css" integrity="sha256-YC896To53D/eet6K3jAwOq67iCIK24u2Hg6CQ+026I8=" crossorigin="anonymous" />
	<style type = "text/css">

		.background {
			background-color: #ffc107;
			color:  black;
		}

		body {
            padding-top: 0px;
            background-color: #f4f4f4;
			height: 100vh;
			font-family: 'Noto Sans TC', sans-serif;
		}

		#header {
			min-height: 10%;
		}

		#content {
			max-height: 90%;
		}

        .Ntfdot {
            height: 5px;
            width: 5px;
            background-color: blue;
            border-radius: 50%;
            display: inline-block;
        }

	</style>
{% endblock styles %}

{% block navbar %}
	{% include 'layouts/navbar.html' %}
{% endblock navbar %}

{% block content %}
	<div id="content" class="container">
	{% block page %}{% endblock page %}
	{% block footer%}
	{% include 'layouts/footer.html' %}
	{% endblock footer%}
	</div>
{% endblock content %}

{% block scripts %}
	<!---------->
	{{ super() }}
	<script src="https://kit.fontawesome.com/71a9eb620b.js" crossorigin="anonymous"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
	<script>
		var socket;
		if ("{{ request.host_url }}" == "http://localhost:5000/")
			socket = io.connect(); //for local test
		else
	      	socket = io.connect({path: "{{config['REVERSE_PROXY_PATH']}}/socket.io"}); // for server deployment
	</script>
    <!--
    <script>
        var getNotificationUrl = "{{ url_for('user.notification_load') }}";
        var HISHOP_UID = '{{ config.HISHOP_UID }}';
        var currentUser = '{{ current_user.id|string }}';
        //this is a test of global variable of following js;
    </script>
    <script src="{{ url_for('static', filename = 'scripts/notification.js') }}">-->
    </script>
    <script>

        var messageCount;
        var notificationCount;

         //load notification
        $(function () {

            

            socket.on('{{ config.HISHOP_UID }}To{{ current_user.id|string }}', function(data){                
                prependNotification(data);
            });
            loadNtf();
            showMsgNtfCount();

        });

        function loadNtf(){
            $.ajax({
                type:"GET",
                url: "{{ url_for('user.notification_load') }}",
                success: function(data) {
                    notificationInfos = JSON.parse(data);
                    for(notification in notificationInfos){
                        prependNotification(notificationInfos[notification]);
                    }
                }
            });
        }

        
        

        $( window ).resize(resizeNotification);

        $('#notificationDropdown').on({
            'shown.bs.dropdown': resizeNotification,
            'shown.bs.dropdown': setNotificationToRead,
            'hide.bs.dropdown': removeUnreadSign
        });

        $('#notificationDropdown').on({
            'shown.bs.dropdown': resizeNotification
        });

        function prependNotification(notification) {
            var isRead = notification.isRead;
            var message = notification.message;
            if(!isRead){
                message = '<span class="Ntfdot"></span> ' + message;
            }
            var newLI = '<div class="text-break text-mute pl-2 pr-1" isread=' + isRead + '>' +
                        message + '</div>' +                   
                        '<hr>';
            $('#dropdownWindow').prepend(newLI);            
        }

        function setNotificationToRead(){ //duplicate with hichat one
            $.ajax({
                type:"POST",
                url: "{{ url_for('user.hichat_update') }}",
                data: { senderID : "{{ config.HISHOP_UID }}", receiverID : "{{ current_user.id|string }}"}
            });
        }

        function removeUnreadSign(){
            $("span.Ntfdot").remove();
        }

        function resizeNotification(){            
            var windowObj = $(window);
            var dropdownWindow = $("#dropdownWindow");
            var notificationDropdown = $("#notificationDropdown")
            dropdownWindow.css("maxHeight", windowObj.innerHeight() / 2);
            dropdownWindow.outerWidth(windowObj.innerWidth() - notificationDropdown.position().left - 16)
        }

        function showMsgNtfCount(){
            $.ajax({
                type:"GET",
                url: "{{ url_for('user.notification_count') }}",
                data: { senderID : "{{ config.HISHOP_UID }}", receiverID : "{{ current_user.id|string }}"},
                success: function(data){
                    console.log(data);
                }
            });
        }

    </script>
{% endblock scripts %}

