<ul class="list-unstyled">
        <li>
            <a href="#" class="btn btn-secondary">3C產品</a>
        </li>
        <li>
            <a href="#" class="btn btn-secondary">家電</a>
        </li>
        <li>
            <a href="#" class="btn btn-secondary">服飾</a>
        </li>
        <li>
            <a href="#" class="btn btn-secondary">美妝</a>
        </li>
        <li>
            <a href="#" class="btn btn-secondary">食品</a>
        </li>
        <li>
            <a href="#"class="btn btn-secondary">日用</a>
        </li>
        <li>
            <a href="#"class="btn btn-secondary">書籍</a>
        </li>
        <li>
            <a href="#"class="btn btn-secondary">文具</a>
        </li>
        <li>
            <a href="#"class="btn btn-secondary">運動</a>
        </li>
        <li>
            <a href="#"class="btn btn-secondary">娛樂</a>
        </li>
        <li>
            <a href="#"class="btn btn-secondary">票券</a>
        </li>
        <li>
            <a href="#"class="btn btn-secondary">其他</a>
        </li>
    </ul>
