<footer  class="page-footer font-small blue "  >
  <!-- Footer Links -->
  <div class="container-fluid text-center pt-3">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 mt-md-0 mt-3">

        <!-- Content -->
        <h6 class="text-uppercase">Line Chatbot!</h6>
        <img style="height:100px; width:100px" src="{{url_for('static', filename = '148qctuy.png')}}" >        

      </div>

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <div class="footer-copyright text-center py-3">Developers:
    <a target="_blank" href="https://www.facebook.com/profile.php?id=100003315665771">Hannn</a>, 
    <a target="_blank" href="https://www.facebook.com/jerryhungcy">Jerry</a>, 
    <a target="_blank" href="https://www.facebook.com/profile.php?id=100000696550717">Wei</a>, 
    <a target="_blank" href="https://www.facebook.com/profile.php?id=100000334599060">How Yu</a>, 
    <a target="_blank" href="https://www.facebook.com/jack.rock.90">Jack Rock</a>, 
    <a target="_blank" href="https://www.facebook.com/profile.php?id=1667747015">Hoyuzi</a>, 
    <a target="_blank" href="https://github.com/Jimmy1244">Jimmy_ChuYu</a>
  </div>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://csesa.csie.ntou.edu.tw/hishop/"> Hishop</a>
  </div>
  <!-- Copyright -->
</footer>