<nav id="header" class="navbar navbar-expand-lg navbar-light background">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="{{ url_for('static',filename='logo.svg') }}" alt="Logo" style="width: 180px;height: 60px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="col">
                <ul class="nav flex-column">
                    <li class="nav-item pt-md ">
                        <form class="form-inline  required input-group" action="{{ url_for('search', type='normal') }}" method="GET">
                            <input name="keyword" class="form-control  ml-sm-2" placeholder="請輸入關鍵字">
                            <div class="input-group-append">
                                <select class="form-control" name="way">
                                    <option value="normal">一般商品</option>
                                    <option value="bidding">競標商品</option>
                                </select>
                            </div>
                        <button class="btn btn-secondary mr-md-5" type="submit"><i class="fas fa-search"></i></button>
                        </form> 
                    </li>
                </ul>
            </div>

            <ul class="navbar-nav ml-auto">
                {% if current_user.status != 2 %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('cart') }}"><i class="fas fa-shopping-cart"></i></a>
                    </li>
                {% endif %}
                {% if current_user.is_active == True %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ current_user.name }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if current_user.status == 1 %}
                                <a class="dropdown-item" href="{{ url_for('user.profile') }}">個人資料</a>
                            {% elif current_user.status == 2 %}
                                <a class="dropdown-item" href="{{ url_for('admin.account') }}">管理功能</a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url_for('logout', next=request.url) }}">登出</a>
                        </div>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="{{url_for('user.hichat')}}"><i class='far fa-comment'></i></a>
                    </li>
                    <li class="nav-item">
                        <div id="notificationDropdown" class="dropdown">
                            <button id="notificationBtn" class="btn nav-link" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-bell" aria-hidden="true"></i></button>
                            <div id="dropdownWindow" class="dropdown-menu overflow-auto" aria-labelledby="notificationBtn">
                                <div class="text-break text-mute pl-2 pr-1" isRead="true">Welcome to Hishop</div>
                            </div>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}" tabindex="-1" aria-disabled="true">登入</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>