<div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card-deck">
                <a href="#">
                    <div class="card">
                        <img class="card-img-top" src="{{ url_for('static',filename='hicoin.png') }}" alt="Product_picture">
                        <div class="card-footer">
                            <a>商品名稱</a>
                            <a style="float: right;">$$</a>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="card">
                        <img class="card-img-top" src="{{ url_for('static',filename='hicoin.png') }}" alt="Product_picture">
                        <div class="card-footer">
                            <a>商品名稱</a>
                            <a style="float: right;">$$</a>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="card">
                        <img class="card-img-top" src="{{ url_for('static',filename='hicoin.png') }}" alt="Product_picture">
                        <div class="card-footer">
                            <a>商品名稱</a>
                            <a style="float: right;">$$</a>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="card">
                        <img class="card-img-top" src="{{ url_for('static',filename='hicoin.png') }}" alt="Product_picture">
                        <div class="card-footer">
                            <a>商品名稱</a>
                            <a style="float: right;">$$</a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card-deck">
                <a href="#">
                    <div class="card">
                        <img class="card-img-top" src="{{ url_for('static',filename='hicoin.png') }}" alt="Product_picture">
                        <div class="card-footer">
                            <a>商品名稱</a>
                            <a style="float: right;">$$</a>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="card">
                        <img class="card-img-top" src="{{ url_for('static',filename='hicoin.png') }}" alt="Product_picture">
                        <div class="card-footer">
                            <a>商品名稱</a>
                            <a style="float: right;">$$</a>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="card">
                        <img class="card-img-top" src="{{ url_for('static',filename='hicoin.png') }}" alt="Product_picture">
                        <div class="card-footer">
                            <a>商品名稱</a>
                            <a style="float: right;">$$</a>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="card">
                        <img class="card-img-top" src="{{ url_for('static',filename='hicoin.png') }}" alt="Product_picture">
                        <div class="card-footer">
                            <a>商品名稱</a>
                            <a style="float: right;">$$</a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>