{% extends "layouts/app.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
	{{ super() }}
	<style type = "text/css">
		.productImg {
			width: 100px;
		    height:100px;
		}

	</style>
{% endblock styles %}

{% block scripts %}
	{{super()}}
	<script>
	

	function select(target)
	{
		var pageItems = document.getElementsByName("pageItem")
		var tableItem
		var tableItems = document.getElementsByName("tableItem")
		var next = document.getElementsByName("next")
		var prev = document.getElementsByName("Previous")
		
		//check next button
		if(target.id >= {{(products|length/10)|int +1}})
		{
			//console.log(target.id)
			if('href' in next[0])
				next[0].removeAttribute('href')
		}
		else
		{
			next[0].setAttribute("href","#")
		}

		//check previous botton
		if(target.id ==1)
		{
			//console.log(target.id)
			if('href' in prev[0])
				prev[0].removeAttribute('href')
		}
		else
		{
			prev[0].setAttribute("href","#")
		}

		//disable all page
		for(var i=0; i<pageItems.length; i++) 
		{

			pageItems[i].className = "page-item"
			pageItems[i].children[0].setAttribute("href","#")
		}
		
		//select this page
		target.parentNode.className = "page-item active"
		if('href' in target)
			target.removeAttribute('href')
		
		//hidden all table
		for(var k=0; k<tableItems.length; k++) 
		{

			tableItems[k].className = tableItems[k].className + " d-none"
		}
		
		//show this table
		for(var k=0; k<tableItems.length; k++) 
		{

			if(tableItems[k].id > (target.innerText-1)*10 && tableItems[k].id <= target.innerText*10)
				while(tableItems[k].className.match("d-none"))
					tableItems[k].className = tableItems[k].className.replace("d-none"," ")
		}
	}

	function next(pageNum,target)
	{
		var pageItemsActive = document.getElementsByClassName("page-item active")
		var now_num = pageItemsActive[0].children[0].id
		//if it is the last page
		if(pageItemsActive[0].children[0].id >= pageNum)
		{
			if('href' in target)
				target.removeAttribute('href')
			return
		}
		else
		{
			console.log("next page")
			var pageItems = document.getElementsByName("pageItem")
			for(var i=0;i<pageItems.length;i++)
			{
				
				if(now_num == pageItems[i].children[0].id)
					{
						
						select(pageItems[i+1].children[0])
					}
			}
		}
	}

	function previous(target)
	{
		var pageItemsActive = document.getElementsByClassName("page-item active")
		var now_num = pageItemsActive[0].children[0].id
		//if it is the last page
		if(pageItemsActive[0].children[0].id ==1)
		{
			if('href' in target)
				target.removeAttribute('href')
			return
		}
		else
		{
			console.log("next page")
			var pageItems = document.getElementsByName("pageItem")
			for(var i=0;i<pageItems.length;i++)
			{
				
				if(now_num == pageItems[i].children[0].id)
					{
						
						select(pageItems[i-1].children[0])
					}
			}
		}
	}
	</script>
{% endblock scripts %}

{% block page %}	
	<div class="row">
		<div class="col-auto">
			<br>
			{% include "layouts/user.html" %}
		</div>

	    <div class="col-md-9">
			<br>
			<div class="row justify-content-center align-items-center bg-warning border border-dark rounded">
				<div class="col-auto ">
					<p class="text-cneter rounded" style="margin: 5px 5px 5px;"> 瀏覽紀錄 </p>
				</div>
			</div>
			
			<div class="row justify-content-center border border-dark rounded  bg-white">
				<div class="col" style="margin: 5px ;">
					<div class="row justify-content-end">
						<div class="col-auto">
							<a class="btn btn-primary {% if status == SORT_STATUS['PRICE'] %} active {% endif %}" href="{{ url_for('user.history', status=SORT_STATUS['PRICE']) }}">價格</a>
						</div>
						<div class="col-auto">
							<a class="btn btn-primary {% if status == SORT_STATUS['HOT'] %} active {% endif %}" href="{{ url_for('user.history', status=SORT_STATUS['HOT']) }}">人氣</a>
						</div>
						<div class="col-auto">
							<a class="btn btn-primary {% if status == SORT_STATUS['RATING'] %} active {% endif %}" href="{{ url_for('user.history', status=SORT_STATUS['RATING']) }}">評價</a>
						</div>
						<div class="col-auto">
							<a class="btn btn-primary {% if status == SORT_STATUS['CREATE_TIME'] %} active {% endif %}" href="{{ url_for('user.history', status=SORT_STATUS['CREATE_TIME']) }}">起始時間</a>
						</div>
					</div>
				</div>
				<table class="table" id="his_table">
					<thead>
						<th scope="col">商品</th>
						<th scope="col">狀態</th>
						<th scope="col">名稱</th>
						<th scope="col">售價</th>
					</thead>
					<tfoot>
						<th scope="col" colspan="4">
							<nav aria-label="Page navigation example" >
								<ul class="pagination pagination-circle pg-blue justify-content-center">
								<li class="page-item disabled"><a class="page-link">First</a></li>
								<li class="page-item">
									<a class="page-link" name="Previous" aria-label="Previous" onclick="previous(this)">
									<span aria-hidden="true">&laquo;</span>
									<span class="sr-only">Previous</span>
									</a>
								</li>
								<li class="page-item active" name="pageItem"><a class="page-link" onclick="select(this)" id="1">1</a></li>
								{% for i in range((products|length/10)|int) %} 
								<li class="page-item" name="pageItem"><a class="page-link" onclick="select(this)" href="#" id="{{i+2}}">{{ i+2 }}</a></li>
								
								{% endfor %}
								<li class="page-item">
									<a class="page-link" name="next" aria-label="Next"  href="#" onclick="next({{(products|length/10)|int +1}},this)">
									<span aria-hidden="true">&raquo;</span>
									<span class="sr-only">Next</span>
									</a>
								</li>
								<li class="page-item"><a class="page-link">Last</a></li>
								</ul>
							</nav>
						</th>
					</tfoot>
					{% for product in products %}
					<tbody>
						{% if products.index(product) < 10 %}
						<td scope="row" class="align-middle " id="{{ products.index(product)+1 }}" name="tableItem">
						{% else %}
						<td scope="row" class="align-middle d-none " id="{{ products.index(product)+1 }}" name="tableItem">
						{% endif %}
							<img class="productImg" src="{{url_for('static', filename = 'image/'+product.product.id|string +'/' + product.product.image)}}"> 
						</td>
						{% if products.index(product) < 10 %}
						<td class="align-middle" id="{{ products.index(product)+1 }}" name="tableItem">
						{% else %}
						<td class="align-middle d-none" id="{{ products.index(product)+1 }}" name="tableItem">
						{% endif %}
							{% if  product.product.status|string  == PRODUCT_STATUS['SELLING'] %}
								販賣中
							{% elif  product.product.status|string  == PRODUCT_STATUS['SOLD'] %}
								已賣出
							{% elif  product.product.status|string  == PRODUCT_STATUS['FROZEN'] %}
								凍結中
							{% else %}
								已下架
							{% endif %}
						</td>
						{% if products.index(product) < 10 %}
						<td class="align-middle" id="{{ products.index(product)+1 }}" name="tableItem">
						{% else %}
						<td class="align-middle d-none " id="{{ products.index(product)+1 }}" name="tableItem">
						{% endif %}
							{% if  product.product.bid  == None %}
								<a href="{{ url_for('show_normal', product_id=product.product.id|string) }}" target=_blank>{{product.product.name}}</a>
							{% else %}
								<a href="{{ url_for('show_bidding', product_id=product.product.id|string) }}" target=_blank>{{product.product.name}}</a>
							{% endif %}
						</td>
						{% if products.index(product) < 10 %}
					    <td class="align-middle" id="{{ products.index(product)+1 }}" name="tableItem">
						{% else %}
						<td class="align-middle d-none" id="{{ products.index(product)+1 }}" name="tableItem">
						{% endif %}
							{{ product.product.price }}
						</td>
					</tbody>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>

	<!-- 當圖片載入失敗，使用預設圖片代替 -->
    <script type="text/javascript"> 
        document.addEventListener("error", function (e) {
            let elem = e.target;
            if (elem.tagName.toLowerCase() == 'img') {
                elem.src = "{{ url_for('static',filename='errorPic.jpg') }}";
            }
            }, true);
    </script>

{% endblock page %}