{% extends "layouts/app.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
	{{ super() }}
	<style type = "text/css">
		.productImg {
			width: 100px;
		    height:100px;
		}

	</style>
{% endblock styles %}

{% block page %}
	<div class="row">
		<div class="col-auto">
			<br>
			{% include "layouts/user.html" %}
		</div>

		<div class="col-md-9">
			<br>
			<div class="row justify-content-center align-items-center bg-warning border border-dark rounded">
				<div class="col-auto ">
					<p class="text-cneter rounded" style="margin: 5px 5px 5px;"> 點讚紀錄 </p>
				</div>
			</div>

			<div class="row justify-content-center border border-dark rounded bg-white">
				<div class="col" style="margin: 5px ;">
					<div class="row justify-content-end">
						<div class="col-auto">
							<a class="btn btn-primary {% if status == SORT_STATUS['PRICE'] %} active {% endif %}" href="{{ url_for('user.like', status=SORT_STATUS['PRICE']) }}">價格</a>
						</div>
						<div class="col-auto">
							<a class="btn btn-primary {% if status == SORT_STATUS['HOT'] %} active {% endif %}" href="{{ url_for('user.like', status=SORT_STATUS['HOT']) }}">人氣</a>
						</div>
						<div class="col-auto">
							<a class="btn btn-primary {% if status == SORT_STATUS['RATING'] %} active {% endif %}" href="{{ url_for('user.like', status=SORT_STATUS['RATING']) }}">評價</a>
						</div>
						<div class="col-auto">
							<a class="btn btn-primary {% if status == SORT_STATUS['CREATE_TIME'] %} active {% endif %}" href="{{ url_for('user.like', status=SORT_STATUS['CREATE_TIME']) }}">起始時間</a>
						</div>
					</div>
				</div>
				<table class="table">
					<thead>
						<tr>
						<th scope="col">商品</th>
						<td scope="col">狀態</td>
						<th scope="col">名稱</th>
						<th scope="col">賣家</th>
						<th scope="col">售價</th>
						</tr>
					</thead>
					{% for product in products %}
						<tbody>
							<th scope="row" class="align-middle">
								<img class="productImg" src="{{url_for('static', filename = 'image/'+product.id|string +'/' + product.image)}}">
							</th>
							<td class="align-middle">
								{% if  product.status|string  == PRODUCT_STATUS['SELLING'] %}
									販賣中
								{% elif  product.status|string  == PRODUCT_STATUS['SOLD'] %}
									已賣出
								{% elif  product.status|string  == PRODUCT_STATUS['FROZEN'] %}
									凍結中
								{% else %}
									已下架
								{% endif %}
							</td>
							<td class="align-middle">
								{% if  product.bid  == None %}
									<a href="{{ url_for('show_normal', product_id=product.id|string) }}" target=_blank>{{product.name}}</a>
								{% else %}
									<a href="{{ url_for('show_bidding', product_id=product.id|string) }}" target=_blank>{{product.name}}</a>
								{% endif %}
							</td>
							<td class="align-middle">{{product.seller_id.name}}</td>
							<td class="align-middle">{{product.price}}</td>	    
						</tbody>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>

	<!-- 當圖片載入失敗，使用預設圖片代替 -->
    <script type="text/javascript"> 
        document.addEventListener("error", function (e) {
            let elem = e.target;
            if (elem.tagName.toLowerCase() == 'img') {
                elem.src = "{{ url_for('static',filename='errorPic.jpg') }}";
            }
            }, true);
    </script>

{% endblock page %}
