{% extends "layouts/app.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
	{{ super() }}
	<style type = "text/css">
		.productImg {
			width: 100px;
		    height:100px;
		}

	</style>
{% endblock styles %}

{% block page %}
	<div class="row">
		<div class="col-auto">
			<br>
			{% include "layouts/user.html" %}
		</div>

		<div class="col-md-9">
			<br>
			<div class="row justify-content-center align-items-center bg-warning border border-dark rounded">
				<div class="col-auto ">
					<p class="text-cneter rounded" style="margin: 5px 5px 5px;"> 點讚紀錄 </p>
				</div>
			</div>

			<div class="row justify-content-center border border-dark rounded bg-white">
				<table class="table">
					<thead>
						<tr>
						<th scope="col">商品</th>
						<th scope="col">名稱</th>
						<th scope="col">賣家</th>
						<th scope="col">售價</th>
						</tr>
					</thead>
					{% for product in products %}
						<tbody>
							<th scope="row" class="align-middle">
								<img class="productImg" src="{{url_for('static', filename = 'image/'+product.id|string +'/' + product.image)}}">
							</th>
							<td class="align-middle">
									{% if  product.bid  == "null" %}
									<a href="{{ url_for('show_normal', product_id=product.id|string) }}" target=_blank>{{product.name}}</a>
									{% else %}
									<a href="{{ url_for('show_bidding', product_id=product.id|string) }}" target=_blank>{{product.name}}</a>
									{% endif %}
							</td>
							<td class="align-middle">{{product.seller_id.name}}</td>
							<td class="align-middle">{{product.price}}</td>	    
						</tbody>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
{% endblock page %}
