{% extends "layouts/app.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
	{{ super() }}
	<style type = "text/css">
		.productImg {
			width: 100px;
		    height:100px;
		}
		/* 星星点灯照亮我的家门 */
.star_bg {
    width: 120px; height: 20px;
    background: url({{url_for('static', filename = 'star.png')}}) repeat-x;
    position: relative;
    overflow: hidden;
}
.star {
    height: 100%; width: 24px;
    line-height: 6em;
    position: absolute;
    z-index: 3;
}
.star:hover {    
    background: url({{url_for('static', filename = 'star.png')}}) repeat-x 0 -20px!important;
    left: 0; z-index: 2;
}
.star_1 { left: 0; }
.star_2 { left: 24px; }
.star_3 { left: 48px; }
.star_4 { left: 72px; }
.star_5 { left: 96px; }
.star_1:hover { width: 24px; }
.star_2:hover { width: 48px; }
.star_3:hover { width: 72px; }
.star_4:hover { width: 96px; }
.star_5:hover { width: 120px; }

label { 
    display: block; _display:inline;
    height: 100%; width: 100%;
    cursor: pointer;
}

/* 幕后的英雄，单选按钮 */
.score { position: absolute; clip: rect(0 0 0 0); }
.score:checked + .star {    
    background: url({{url_for('static', filename = 'star.png')}}) repeat-x 0 -20px;
    left: 0; z-index: 1;
}
.score_1:checked ~ .star_1 { width: 24px; }
.score_2:checked ~ .star_2 { width: 48px; }
.score_3:checked ~ .star_3 { width: 72px; }
.score_4:checked ~ .star_4 { width: 96px; }
.score_5:checked ~ .star_5 { width: 120px; }

.star_bg:hover .star {  background-image: none; }

/* for IE6-IE8 JS 交互 */
.star_checked {    
    background: url({{url_for('static', filename = 'star.png')}}) repeat-x 0 -20px;
    left: 0; z-index: 1;
}
	</style>
{% endblock styles %}

{% block page %}
	<br>
	<div class="row">
		<div class="col-auto">
			{% include "layouts/user.html" %}
		</div>

	    <div class="col-md-9">
	    	<div class="card">
	    		<div class="card-header text-center bg-warning p-2 border border-dark">
	    			購買清單
	    		</div>
	    		<div class="card-body border border-dark">
	    			<a class="btn btn-primary {% if status == ORDER_STATUS['ALL'] %} active {% endif %}" href="{{ url_for('user.purchase_list', status=ORDER_STATUS['ALL']) }}">全部</a>
	    			<a class="btn btn-primary {% if status == ORDER_STATUS['TRANSFERING'] %} active {% endif %}" href="{{ url_for('user.purchase_list', status=ORDER_STATUS['TRANSFERING']) }}">移交中</a>
	    			<a class="btn btn-primary {% if status == ORDER_STATUS['RECEIPTING'] %} active {% endif %}" href="{{ url_for('user.purchase_list', status=ORDER_STATUS['RECEIPTING']) }}">領收中</a>
	    			<a class="btn btn-primary {% if status == ORDER_STATUS['COMPLETE'] %} active {% endif %}" href="{{ url_for('user.purchase_list', status=ORDER_STATUS['COMPLETE']) }}">已完成</a>
	    			<a class="btn btn-primary {% if status == ORDER_STATUS['CANCEL'] %} active {% endif %}" href="{{ url_for('user.purchase_list', status=ORDER_STATUS['CANCEL']) }}">已取消</a>

					<div class="table-responsive-lg">
						<table class="table table-st2iped table-border">
							<thead>
								<tr>
									<th scope="col">圖片</th>
									<th scope="col">名稱</th>
									<th scope="col">價格</th>
									<th scope="col">狀態</th>
									<th scope="col">評價</th>
								</tr>
							</thead>
							<tbody>
								{% for order in orders %}
								    <tr>
										<td>
											<img class="productImg" src="{{url_for('static', filename = 'image/'+order.product_id.id|string +'/' + order.product_id.image)}}">
										</td>
										<td>{{ order.product_id.name }}</td>
										<td>$ {{ order.product_id.price }}</td>
										<td>
											{% if order.status|string == ORDER_STATUS['TRANSFERING'] %}
												移交中
											{% elif order.status|string == ORDER_STATUS['RECEIPTING'] %}
												領收中
											{% elif order.status|string == ORDER_STATUS['COMPLETE'] %}
												已完成
											{% elif order.status|string == ORDER_STATUS['CANCEL'] %}
												已取消
											{% endif %}
										</td>
										<td>
											{% if order.status|string == ORDER_STATUS['ALL'] %}
												<p style="text-decoration: underline ;color: blue;">已評價</p>
											{% elif order.status|string == ORDER_STATUS['RECEIPTING'] %}
												<!-- Button trigger modal -->
												<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
														未評價
												</button>
												
												<!-- Modal -->
												<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
													<div class="modal-dialog" role="document">
													<div class="modal-content">
														<div class="modal-header border border-dark">
														<h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
														</div>
														<div class="modal-body">
																<div id="starBg" class="star_bg">                    	
																		<input type="radio" id="starScore1" class="score score_1" value="1" name="score">
																		<a href="#starScore1" class="star star_1" title="差"><label for="starScore1">差</label></a>
																		<input type="radio" id="starScore2" class="score score_2" value="2" name="score">
																		<a href="#starScore2" class="star star_2" title="较差"><label for="starScore2">较差</label></a>
																		<input type="radio" id="starScore3" class="score score_3" value="3" name="score">
																		<a href="#starScore3" class="star star_3" title="普通"><label for="starScore3">普通</label></a>
																		<input type="radio" id="starScore4" class="score score_4" value="4" name="score">
																		<a href="#starScore4" class="star star_4" title="较好"><label for="starScore4">较好</label></a>
																		<input type="radio" id="starScore5" class="score score_5" value="5" name="score">
																		<a href="#5" class="star star_5" title="好"><label for="starScore5">好</label></a>
																	</div>
														</div>
														<div class="modal-footer">
														<button type="button" class="btn btn-primary">送出評價</button>
														</div>
													</div>
													</div>
												</div>
											{% else %}
												<p style="text-decoration: underline ;color: blue;">未評價</p>
											{%  endif %}
										</td>
								    </tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
	    	</div>
		</div>
	</div>
{% endblock page %}