{% extends "layouts/app.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
	{{ super() }}
	{{ ckeditor.load() }}
{% endblock head %}

{% block page %}
	<div class="row">
		<div class="col-lg-12">
			<br>
            <form id="form" action="{{ url_for('user.bidding') }}" method="POST" enctype="multipart/form-data">
                {{ form.csrf_token }}
                {% for category in categories %}
                    <div class="form-check">
                        <input id="categories" name="categories" value="{{ category.id }}" type="checkbox" class="form-check-input" {% if category.id|string in request.form.getlist('categories') %}checked="checked"{% endif %}>
                        <label class="form-check-label" for="{{ category.id }}">{{ category.category }}</label>
                    </div>
                {% endfor %}
                <div class="form-group">
                    {{ form.image.label(class="form-control-label") }}
                    {{ form.image(class="form-control-file") }}
                </div>
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {{ form.name(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.price.label(class="form-control-label") }}
                    {{ form.price(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.low_price.label(class="form-control-label") }}
                    {{ form.low_price(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.per_price.label(class="form-control-label") }}
                    {{ form.per_price(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.due_time.label(class="form-control-label") }}
                    {{ form.due_time(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.detail.label(class="form-control-label") }}
                    {{ form.detail(class="form-control") }}
                </div>
                {{ form.submit(class="btn btn-primary") }}
            </form>
		</div>
	</div>
	<div class="row justify-content-center align-items-center">
        <div class="col-auto ">
            <div class="row justify-content-center">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>注意</strong> 起標價在1~10000內;每刀價在1~1000內
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
	<div class="row justify-content-center align-items-center">
        <div class="col-auto ">
            <div class="row justify-content-center">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>注意</strong> 商品名稱字數在50字內;價錢需在1~100000內
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
	</div>
	
{% endblock page %}