{% extends "layouts/app.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
	{{ super() }}
	{{ ckeditor.load() }}
{% endblock head %}

{% block page %}
	<div class="row">
		<div class="col-lg-12">
			<br>
            <form id="form" action="{{ url_for('user.normal') }}" method="POST" enctype="multipart/form-data">
                {{ form.csrf_token }}

                <div class="card">
                    <div class="card-header" style="height: auto;">選擇分類</div>
                    <div class="card-body">
                        <div id="bidProductIndicators" class="carousel slide" data-ride="false"  data-interval="false">
                            <div class="carousel-inner">
                                <div class="carousel-item active">        
                                    {% for category in categories %}
                                        <div class="form-check-inline">
                                            <input id="categories" name="categories" value="{{ category.id }}" type="checkbox" class="form-check-input" {% if category.id|string in request.form.getlist('categories') %}checked="checked"{% endif %}>
                                            <label class="form-check-label" for="{{ category.id }}">{{ category.category }}</label>
                                        </div>
                                    {% endfor %}   
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
            

                <div class="form-group">
                    {% if form.image.errors %}
                        {{ form.image.label(class="form-control-label") }}
                        {{ form.image(class="form-control-file is-invalid") }}
                        {% for error in form.image.errors %}<p class="invalid-feedback" role="alert"><strong>{{ error }}</strong></p>{% endfor %}
                    {% else %}
                        {{ form.image.label(class="form-control-label") }}
                        {{ form.image(class="form-control-file") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {% if form.name.errors %}
                        {{ form.name.label(class="form-control-label") }}
                        {{ form.name(class="form-control is-invalid") }}
                        {% for error in form.name.errors %}<p class="invalid-feedback" role="alert"><strong>{{ error }}</strong></p>{% endfor %}
                    {% else %}
                        {{ form.name.label(class="form-control-label") }}
                        {{ form.name(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {% if form.price.errors %}
                        {{ form.price.label(class="form-control-label") }}
                        {{ form.price(class="form-control is-invalid") }}
                        {% for error in form.price.errors %}<p class="invalid-feedback" role="alert"><strong>{{ error }}</strong></p>{% endfor %}
                    {% else %}
                        {{ form.price.label(class="form-control-label") }}
                        {{ form.price(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {% if form.detail.errors %}
                        {{ form.detail.label(class="form-control-label") }}
                        {{ form.detail(class="form-control is-invalid") }}
                        {% for error in form.detail.errors %}<p class="invalid-feedback" role="alert"><strong>{{ error }}</strong></p>{% endfor %}
                    {% else %}
                        {{ form.detail.label(class="form-control-label") }}
                        {{ form.detail(class="form-control") }}
                    {% endif %}
                </div>
                {{ form.submit(class="btn btn-primary") }}
            </form>
	    </div>
	</div>

	<div class="row justify-content-center align-items-center">
        <div class="col-auto ">
            <div class="row justify-content-center">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>注意</strong> 商品名稱字數在50字內;價錢需在1~100000內
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock page %}