{% extends "layouts/app.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
	{{ super() }}
	{{ ckeditor.load() }}
{% endblock head %}

{% block styles %}
	{{ super() }}
	<style type = "text/css">
		#row{
			overflow: hidden;
			padding-top: 10px;
			padding-bottom: 10px;
			margin-bottom: 10px;
			background-color: white;
		}

		.row [class="col-"]{
			margin-bottom: -9999px;
			padding-bottom: 9999px;
		}	

		.productImg{
			width: 100%;
			height: 100%;
			min-height: 150px;
		}

		#productprice{
			background-color: #FFDDAA;
			color: #E63F00;
		}

	</style>
{% endblock styles %}

{% block scripts %}
	{{ super() }}

	<script>
		var url = "{{ url_for('product_like', product_id="") }}";

		document.addEventListener("error", function (e) {
	            let elem = e.target;
	            if (elem.tagName.toLowerCase() == 'img') {
	                elem.src = "{{ url_for('static',filename='errorPic.jpg') }}";
	            }
	            }, true);

		$(function(){            
            $.each($(".card-img-top"), function(){
                var this_image = this;
                var src = $(this_image).attr('src') || '' ;
                if(src.length > 0){
                    var lsrc = $(this_image).attr('lsrc') || '' ;
                    if(lsrc.length > 0){
                        var img = new Image();
                        img.src = lsrc;
                        this_image.src = img.src;
                    }
                }
            });
        });

		$("#remove").click(function(e){
			e.preventDefault();
			{% if current_user.is_anonymous %}
				window.location = window.location = "{{ url_for('login', _external=True, next=url_for('show_bidding', product_id=product.id|string)) }}";
			{% endif %}

			console.log(123);

			var data = {
				csrf_token: $("#csrf_token").val(),
				remove: true,
			};

			$.ajax({
				type:"POST",
				url: "{{ url_for('show_bidding', product_id=product.id|string) }}",
				data: data,
				success: function(data) {
					$("#remove").text(data);
				}
			});
		});

		$("#bidding").click(function(e){
			var bla = $('#price').val();
			var totalprice="{{ product.price }}";
			var perprice="{{product.bid.per_price}}";
			var nowprice="{{ product.bid.now_price }}";
			var biddingprice = bla*perprice;
			
			console.log(nowprice)
			if (bla<=0){
				$('#pricetext').text("請輸入正確金額");
			}
			else if(isNaN(bla)){
				$('#pricetext').text("請輸入正確金額");
			}
			else if(biddingprice>totalprice){
				$('#pricetext').text("超過競標價格將會以直購價$"+totalprice+"購買");
			}
			else{
				$('#pricetext').text("輸入刀數為: "+bla+ " 金額為: "+biddingprice);
			}
		});

		


		function like(element, product_id) {
			{% if current_user.is_anonymous %}
				window.location = "{{ url_for('login', _external=True, next=request.url) }}";
			{% endif %}

			var data = {
				csrf_token: $("#csrf_token").val(),
				like: true,
			};

			$.ajax({
				type:"POST",
				url: url + product_id,
				data: data,
				success: function(data) {
					if (data != "error")
						element.childNodes[0].className = data;
				}
			});

			return false;
		}

		var countDownDate = new Date($("#dueday").attr('dueday')).getTime();
		console.log(countDownDate);
			var x = setInterval(function() {
				// Get today's date and time
				var now = new Date().getTime();
				
				// Find the distance between now and the count down date
				var distance = countDownDate - now;
				
				// Time calculations for days, hours, minutes and seconds
				var days = Math.floor(distance / (1000 * 60 * 60 * 24));
				var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
				var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
				var seconds = Math.floor((distance % (1000 * 60)) / 1000);
				
				// Output the result in an element with id="demo"
				document.getElementById("dueday").innerHTML = days + "d " + hours + "h "
				+ minutes + "m " + seconds + "s ";
				
				// If the count down is over, write some text 
				if (distance < 0) {
				}
		}, 1000);
	</script>
{% endblock scripts %}

{% block page %}

<div id="row" class="row" style="margin-top: 50px;">
		<div class="col-md-6">
			<img class="card-img-top" src="{{url_for('static', filename = 'imageLoading.gif')}}" lsrc="{{url_for('static', filename = 'image/'+ product.id|string +'/'+ product.image|string)}}" alt="Product_picture"> 
		</div>
		<div class="col-md-6">
			<h3>{{ product.name }}</h3>
			<p>已有 {{ product.view}} 人觀看此商品</p>
			<h5 id="productprice">$ {{ product.price }} </h5>
			<p>剩餘時間：<span id="dueday" dueday="{{product.bid.due_time}}"></span></p>

			<p>起標價 : {{ product.bid.low_price }}</p>
			<p>目前價格 : <span id="currentPrice" >{{ product.bid.now_price }}</span></p>
			<p>{{product.bid.per_price}}/一刀(輸入格內為刀數)</p>
		    <div class="row">
				<form id="form" action="{{ url_for('show_bidding', product_id=product.id|string) }}" method="POST" role="form" class="form-inline" style="margin-top: 5px; margin-right: 5px;">
					{{ form.csrf_token }}

					{% if product.status|string == PRODUCT_STATUS['SOLD']%}
						<p style="position:absolute; bottom:0; right:50px;">競標已結束</p>
					{% elif product.status|string == PRODUCT_STATUS['REMOVE']%}
						<p style="position:absolute; bottom:0; right:50px;">商品已下架</p>
					{% elif current_user.status == 2%}
						<button id="remove" name="remove" type="submit" class="btn btn-primary" style="position:absolute; bottom:0; right:50px;">{{remove}}</button>
					{% else%}
						{% if form.price.errors %}
							<input id="price" name="price" type="number" class="form-control is-invalid" placeholder="請輸入價格" value="{{ form.price.data }}" required>
							{% for error in form.price.errors %}<p class="invalid-feedback" role="alert"><strong>{{ error }}</strong></p>{% endfor %}
						{% else %}
							<input id="price" name="price" type="number" class="form-control" placeholder="請輸入價格" value="0" required>
						{% endif %}
						<button type="button" id="bidding" name="bidding" class="btn btn-primary" data-toggle="modal" data-target="#biddingModal">出價</button>
						<div class="modal fade" id="biddingModal" tabindex="-1" role="dialog" aria-labelledby="biddingModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
							  <div class="modal-content">
								<div class="modal-header">
								  <h5 class="modal-title" id="biddingModalLabel">出價金額</h5>
								  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								  </button>
								</div>
								<div class="modal-body">
								  <p><span id="pricetext" name="pricetext"></span></p>
								</div>
								<div class="modal-footer" id="modal-footer">
									{{ form.submit(class="btn btn-primary") }}
								    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								</div>
							  </div>
							</div>
						</div>
						
						<a name="like" onclick="javascript:like(this, '{{ product.id }}')" class="btn btn-link" style="color: red;"><i class="{{ like }}"></i></a>
					{% endif %}
				</form>
			</div>
		</div>
	</div>

	{% with messages = get_flashed_messages(category_filter=['success']) %}
		{% if messages %}
			{% for message in messages %}
			<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
			<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
			<script>Swal.fire({
				position: 'top',
				icon: 'success',
				title: '出價成功',
				showConfirmButton: false,
				timer: 1500
			});</script>
			{% endfor %}
		{% endif %}
	{% endwith %}

	{% with messages = get_flashed_messages(category_filter=['toomuch']) %}
		{% if messages %}
			{% for message in messages %}
			<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
			<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
			<script>Swal.fire({
				position: 'top',
				icon: 'success',
				title: '成功購買',
				showConfirmButton: false,
				timer: 1500
			});</script>
			{% endfor %}
		{% endif %}
	{% endwith %}

	{% with messages = get_flashed_messages(category_filter=['error']) %}
		{% if messages %}
			{% for message in messages %}
			<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
			<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
			<script>Swal.fire({
				position: 'top',
				icon: 'error',
				title: '出價資訊有誤請重新出價',
				showConfirmButton: false,
				timer: 1500
			});</script>
			{% endfor %}
		{% endif %}
	{% endwith %}

	

	<div id="row" class="row">
		<div class="col-md-12">
			賣家資訊 : {{ product.seller_id.name }}<a href="https://csesa.csie.ntou.edu.tw/hishop/user/hichat#{{ product.seller_id.id }}" target="_blank"><i class="fas fa-comment-dots"></i></a>
		</div>
	</div>

	<div id="row" class="row">
		<div class="col-md-12">
			商品詳情 :
		</div>

		<div class="col-md-12">
			{{ product.detail | safe }}
		</div>

	</div>

	<div id="row" class="row">
		<div class="col-md-12">
			賣家評價 :						
			{% for order in orders %}
				{%if order.seller_rating != None and order.seller_comment != None%}
					<br>
					<div class="card">
						<div class="card-header text-black font-weight-bold" style="height: auto;">商品名稱: {{order.product_id.name}}</div>
						<div class="card-body">
							<div id="hotProductIndicators" class="carousel slide" data-ride="carousel" data-interval="8000">
								<div class="carousel-inner">
									<p>{{order.seller_rating}}顆星</p>	
									<p>評論 : {{order.seller_comment}}</p>					
								</div>
							</div>
						</div>
					</div>		
				{%endif%}
			{%endfor%}
		</div>
	</div>
	
	<div class="row">
        <div class="col-md-12">
            <br>
			<div class="card">
                <div class="card-header text-white bg-secondary font-weight-bold" style="height: auto;">最新競標商品</div>
                <div class="card-body">
                    <div id="bidProductIndicators" class="carousel slide" data-ride="false"  data-interval="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    {% for product in similar_product %}

                                    <a href="{{ url_for('show_bidding', product_id=product.id|string) }}">
                                        <div class="col-md-3 col-6">
                                            <div class="bg-dark text-white text-center">
                                                剩餘時間：
                                                {{"%s days"|format(( product.bid.due_time - now).days)}}
                                            </div>
                                            <img class="card-img-top" src="{{url_for('static', filename = 'imageLoading.gif')}}" lsrc="{{url_for('static', filename = 'image/'+ product.id|string +'/'+ product.image|string)}}" alt="Product_picture" height="180px">
                                            <div class="align-items-end">
                                                <a style="display: inline-block; width: 55%; overflow: hidden; text-overflow: ellipsis; white-space:nowrap; background-color: #e0e0e0; color: black; text-decoration:none;" href="{{ url_for('show_bidding', product_id=product.id|string) }}">{{product.name}}</a>
                                                <a style="display: inline-block; width: 45%; float: right; text-align: center; text-decoration:none;" class="bg-secondary text-white" href="{{ url_for('show_bidding', product_id=product.id|string) }}">${{product.price}}</a>
                                            </div>
                                        </div>
                                    </a>
    
                                        {% if loop.index % 4 == 0 and loop.index > 1 %}
                                    </div>
                                </div>
                                            {% if loop.index != loop.length %}
                                <div class="carousel-item">
                                    <div class = "row">
                                            {% endif %}
                                        {% endif %}

                                        {% if loop.length % 4 != 0 and loop.index == loop.length%}
                                    </div>
                                </div>
                                        {%endif%}
    
                                        {% endfor %}
                
                        </div>
                        <a class="carousel-control-prev" href="#bidProductIndicators" role="button" data-slide="prev" style="width: auto;">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#bidProductIndicators" role="button" data-slide="next" style="width: auto;">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
                          

        </div>
	</div>
	
	
{% endblock page %}