{% extends "layouts/app.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
	{{ super() }}
	{{ ckeditor.load() }}
{% endblock head %}

{% block scripts %}
	{{ super() }}
	<script type="text/javascript">
		$("#cart").click(function(e){
			var data = {
				csrf_token: $("#csrf_token").val(),
				cart: true,
			};

			$.ajax({
				type:"POST",
				url: "{{ url_for('show_normal', product_id=product.id|string) }}",
				data: data,
				success: function(data) {
					console.log(data);
				}
			});
			e.preventDefault();
		});

		$("#like").click(function(e){
			var data = {
				csrf_token: $("#csrf_token").val(),
				like: true,
			};

			$.ajax({
				type:"POST",
				url: "{{ url_for('show_normal', product_id=product.id|string) }}",
				data: data,
				success: function(data) {
					console.log(data);
				}
			});
			e.preventDefault();
		});
		/*
		$("#form").submit(function(e) {
			var form = $(this);

			$( "#cart" ).click(function() {
				alert( "Handler for .click() called." );
			});

			console.log(form.serialize());

			$.ajax({
				type:"POST",
				url: "{{ url_for('show_normal', product_id=product.id|string) }}",
				data: form.serialize(),
				success: function(data) {
					console.log(data);
				}
			});*/

			/* stop form from submitting normally */
			//e.preventDefault();
	    //});
	</script>
{% endblock scripts %}

{% block page %}
	<div class="row">
		<div class="col-lg-12">
	    	{{ product_json }}

	    	{{ wtf.quick_form(form, id="form") }}
	    </div>
	</div>
{% endblock page %}