{% extends "layouts/app.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
	{{ super() }}
	{{ ckeditor.load() }}
{% endblock head %}


{% block styles %}
	{{ super() }}
	<style type = "text/css">
		#row{
			overflow: hidden;
			padding-top: 10px;
			padding-bottom: 10px;
			margin-bottom: 10px;
			background-color: white;
		}

		.row [class="col-"]{
			margin-bottom: -9999px;
			padding-bottom: 9999px;
		}	

		.productImg{
			width: 100%;
			height: 100%;
			min-height: 150px;
		}

		.card-img-top{
			min-height: 150px;
		}

		#productprice{
			background-color: #FFDDAA;
			color: #E63F00;
		}

		.stars-outer {
			display: inline-block;
			position: relative;
			font-family: FontAwesome;
		}
			
		.stars-outer::before {
			content: "\f006 \f006 \f006 \f006 \f006";
		}
			
		.stars-inner {
			position: absolute;
			top: 0;
			left: 0;
			white-space: nowrap;
			overflow: hidden;
			width: 0;
		}
			
		.stars-inner::before {
			content: "\f005 \f005 \f005 \f005 \f005";
			color: #f8ce0b;
		}

		.stars-inner {
			width: 50%;
		}

		p {  
			margin-top: 0em; margin-bottom: 0em; 
		}


	</style>
{% endblock styles %}

{% block scripts %}
	{{ super() }}
	<script type="text/javascript">
	
		$("#cart").click(function(e){
			e.preventDefault();
			{% if current_user.is_anonymous %}
				window.location = "{{ url_for('login', _external=True, next=url_for('show_normal', product_id=product.id|string)) }}";
			{% endif %}

			console.log(123);

			var data = {
				csrf_token: $("#csrf_token").val(),
				cart: true,
			};

			$.ajax({
				type:"POST",
				url: "{{ url_for('show_normal', product_id=product.id|string) }}",
				data: data,
				success: function(data) {
					$("#cart").text(data);
				}
			});
		});

		$("#remove").click(function(e){
			e.preventDefault();
			{% if current_user.is_anonymous %}
				window.location = "{{ url_for('login', _external=True, next=url_for('show_normal', product_id=product.id|string)) }}";
			{% endif %}

			console.log(123);

			var data = {
				csrf_token: $("#csrf_token").val(),
				remove: true,
			};

			$.ajax({
				type:"POST",
				url: "{{ url_for('show_normal', product_id=product.id|string) }}",
				data: data,
				success: function(data) {
					$("#remove").text(data);
				}
			});
		});

        document.addEventListener("error", function (e) {
            let elem = e.target;
            if (elem.tagName.toLowerCase() == 'img') {
                elem.src = "{{ url_for('static',filename='errorPic.jpg') }}";
            }
            }, true);

        $(function(){            
            $.each($(".card-img-top"), function(){
                var this_image = this;
                var src = $(this_image).attr('src') || '' ;
                if(src.length > 0){
                    var lsrc = $(this_image).attr('lsrc') || '' ;
                    if(lsrc.length > 0){
                        var img = new Image();
                        img.src = lsrc;
                        this_image.src = img.src;
                    }
                }
            });
        });

		var url = "{{ url_for('product_like', product_id="") }}";
		function like(element, product_id) {
			{% if current_user.is_anonymous %}
				window.location = "{{ url_for('login', _external=True, next=request.url) }}";
			{% endif %}

			var data = {
				csrf_token: $("#csrf_token").val(),
				like: true,
			};

			$.ajax({
				type:"POST",
				url: url + product_id,
				data: data,
				success: function(data) {
					if (data != "error")
						element.childNodes[0].className = data;
				}
			});

			return false;
		}
	</script>
{% endblock scripts %}

{% block page %}
	<div id="row" class="row" style="margin-top: 50px;">
		<div class="col-md-6">
			<img class="card-img-top" src="{{url_for('static', filename = 'imageLoading.gif')}}" lsrc="{{url_for('static', filename = 'image/'+ product.id|string +'/'+ product.image|string)}}"> 
		</div>

		<div class="col-md-6">
			<h3>{{ product.name }}</h3>
			<p>已有 {{ product.view}} 人觀看此商品</p>
			<h5 id="productprice">$ {{ product.price}} </h5>
			<h5>商品分類: {{ product.categories_id }}</h5>
			<br>
			<form id="form" role="form" style="margin-top: 10px;"> 
				{{ form.csrf_token }}
				{% if product.status|string == PRODUCT_STATUS['SOLD']%}
					<p style="position:absolute; bottom:0; right:50px;">已售出</p>
				{% elif product.status|string == PRODUCT_STATUS['REMOVE']%}
					<p style="position:absolute; bottom:0; right:50px;">商品已下架</p>
				{% elif current_user.status == 2%}
					<button id="remove" name="remove" type="submit" class="btn btn-primary" style="position:absolute; bottom:0; right:50px;">{{remove}}</button>
				{% else %}
					<button id="cart" name="cart" type="submit" class="btn btn-primary" style="position:absolute; bottom:0; right:50px;" >{{ cart }}</button>
					<a name="like" onclick="javascript:like(this, '{{ product.id }}')" class="btn btn-link" style="color: red; position:absolute; bottom:0; right:0;" ><i class="{{ like }}"></i></a>
				{% endif %}
				
			</form>
		</div>
	</div>

	<div id="row" class="row">
		<div class="col-md-12">
			賣家資訊 : <a href="https://csesa.csie.ntou.edu.tw/hishop/user/hichat#{{ product.seller_id.id }}" target="_blank">{{ product.seller_id.name }}</a>
		</div>
	</div>

	<div id="row" class="row">
		<div class="col-md-12">
			商品詳情 :
		</div>

		<div class="col-md-12">
			{{ product.detail | safe }}
		</div>

	</div>

	<div id="row" class="row">
		<div class="col-md-12">
			賣家評價 :						
			{% for order in orders %}
				{%if order.seller_rating != None and order.seller_comment != None%}
					<br>
					<div class="card">
						<div class="card-header text-black font-weight-bold" style="height: auto;">{{order.product_id.name}}</div>
						<div class="card-body">
							<div id="hotProductIndicators" class="carousel slide" data-ride="carousel" data-interval="8000">
								<div class="carousel-inner">
									<p>{{order.seller_rating}}顆星</p>	
									<p>評論 : {{order.seller_comment}}</p>					
								</div>
							</div>
						</div>
					</div>		
				{%endif%}
			{%endfor%}
		</div>
	</div>

	<div class="row">
        <div class="col-md-12">
            <br>
            <div class="card">
                <div class="card-header text-white bg-secondary font-weight-bold" style="height: auto;">相似商品</div>
                <div class="card-body">
                    <div id="hotProductIndicators" class="carousel slide" data-ride="carousel" data-interval="8000">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    {% for product in similar_products %}

                                        <div class="col-md-3 col-6">
                                            <a href="{{ url_for('show_normal', product_id=product.id|string) }}">
                                            <img class="card-img-top" src="{{url_for('static', filename = 'imageLoading.gif')}}" lsrc="{{url_for('static', filename = 'image/'+ product.id|string +'/'+ product.image|string)}}" alt="Product_picture" height="180px">
                                            </a>
                                            <div>
                                                <a style="display: inline-block; width: 55%; overflow: hidden; text-overflow: ellipsis; white-space:nowrap; background-color: #e0e0e0; color: black; text-decoration:none;" href="{{ url_for('show_normal', product_id=product.id|string) }}">{{product.name}}</a>
                                                <a style="display: inline-block; width: 45%; float: right; text-align: center; text-decoration:none;" class="bg-secondary text-white" href="{{ url_for('show_normal', product_id=product.id|string) }}">${{product.price}}</a>
                                            </div>
                                        </div>

                                    {% if loop.index % 4 == 0 and loop.index > 1 %}
                                </div>
                            </div>
                                        {% if loop.index != loop.length %}
                            <div class="carousel-item">
                                <div class = "row">
                                        {% endif %}
                                    {% endif %}

                                    {% if loop.length % 4 != 0 and loop.index == loop.length%}
                                </div>
                            </div>
                                    {%endif%}

                                    {% endfor %}

                        </div>
                        <a class="carousel-control-prev" href="#hotProductIndicators" role="button" data-slide="prev" style="width: auto;">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#hotProductIndicators" role="button" data-slide="next" style="width: auto;">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
	</div>
	
{% endblock page %}