{% extends "layouts/app.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
	{{ super() }}
	<style type = "text/css">
		.no-underline {
            text-decoration: none !important;
        }

        .pointer {cursor: pointer;}

        .hover-bg:hover {
            background-color: Khaki;
            cursor: pointer;
        }

        .message {
            border-radius: 10px;
        }

        .justify-content-end + .justify-content-end {
            margin-top: 2px;
        }

        .justify-content-start + .justify-content-start {
            margin-top: 2px;
        }

        .justify-content-end + .justify-content-start {
            margin-top: 20px;
        }

         .justify-content-start + .justify-content-end {
            margin-top: 20px;
        }

	</style>
{% endblock styles %}

{% block page %}
  <div class="row" id="content">

    <div id="usersWindow" class="col-4 overflow-auto">
        <ul id="usersList" class="list-group">
            {% for u in users %}
                <li id="{{u['_id'][0]['_id']}}" username="{{u['_id'][0]['name']}}" class="list-group-item hover-bg" onclick="changeObject(this)">
                    <div class="text-break">{{u['_id'][0]['name']}}</div>
                    <div class="text-muted small text-break d-none d-md-block">{{u['messages'][0]['sender'][0]}}: {{u['messages'][0]['message']}}</div>
                </li>
            {% endfor %}
        </ul>

    </div>

    <div class="col-8">
        <div id="messageWindow" class="overflow-auto bg-white p-2">
            <div id="messages" class="container" ></div>            
        </div>
        <form id="inputForm" action="">
            <input id="message" class="form-control" autocomplete="off" /><button style="display:none;">Send</button>
        </form>
    </div>

  </div>
{% endblock page %}

{% block scripts %}
  {{ super() }}
    <script>
        var chatObjectID;
        var chatObjectName;
        var lastReadPos;

        $(function () {
            resizeContent();
            appendUnforeSeenUser();

            $('form').submit(function(e){
                e.preventDefault(); // prevents page reloading\
                let inputObj = $('#message');
                if(inputObj.val().trim()) {
                    socket.emit('client send message', "{{ currentUser.id|string }}", chatObjectID, inputObj.val());
                    showCurrentUserMessage(inputObj.val());
                    makeMessageWindowToEnd();
                    prependUser(chatObjectID, inputObj.val(), "{{ currentUser.name|string }}")
                }
                inputObj.val('');
                return false;
            });

            socket.on('messageTo{{ currentUser.id|string }}', function(data){
                prependUser(data.sender_id.$oid, data.message, data.sender_id.name);
            });


        });

        $( window ).resize(resizeContent);

        function showCurrentUserMessage(message){
            var data = {
                sender_id: {
                    $oid: "{{ currentUser.id|string }}",
                },
                message: message,
                isRead: "false"
            }
            appendMessage(data);
        }

        function setMessageToRead(){
            $.ajax({
                type:"POST",
                url: "{{ url_for('user.hichat_update') }}",
                data: { senderID : chatObjectID, receiverID : "{{ currentUser.id|string }}"}
            });
        }

        function resizeContent(){
            var windowHeight = $(window).innerHeight();            
            var navHeight = $("#header").innerHeight();
            var formHeight = $("#inputForm").innerHeight();
            var messageWindow = $("#messageWindow");
            messageWindow.innerHeight(windowHeight- formHeight - navHeight);
            $("#usersWindow").height(windowHeight - navHeight);
        }

        function prependUser(userID, message, senderName){
            var chatObjectLI = $("#" + userID);
            if(chatObjectLI.length == 1) {
                $("#usersList").prepend(chatObjectLI)
                var secondChild = chatObjectLI.children().eq(1);
                var newMessage = senderName + ": " + message;
                if(secondChild.length == 1)
                    secondChild.text(newMessage);
                else if (secondChild.length ==0) {
                    var senderDIV = '<div class="text-muted small text-break d-none d-md-block">' + newMessage + '</div>';
                    chatObjectLI.append(senderDIV);
                }
            }
            else if(chatObjectLI.length == 0){
                console.log("User not found");
            }
        }

        function appendUnforeSeenUser(){
            var allUserList = [{% for user in Tusers %}{id: '{{user.id}}', name: '{{ user.name }}'}, {% endfor %}];
            for (u in allUserList) {
                let chatObjectLI = $("#" + allUserList[u].id);
                if(chatObjectLI.length == 0) {
                    let newUser = '<li id="' + allUserList[u].id + '" username="' + allUserList[u].name + '" class="list-group-item pointer hover-bg" onclick="changeObject(this)"><div>' + allUserList[u].name + '</div></li>'
                    $("#usersList").append(newUser);
                }
            }
        }

        function changeObject(obj) {
            socket.off(chatObjectID + 'To{{ currentUser.id|string }}'); //unsubscribe last event
            socket.off(chatObjectID + 'updateTo{{ currentUser.id|string }}');            
            var thisObj = $(obj);
            chatObjectID = thisObj.attr('id');
            chatObjectName = thisObj.attr('username');

            $(".active").removeClass("active");
            $("#" + chatObjectID).addClass("active");

            socket.on(chatObjectID + 'To{{ currentUser.id|string }}', function(data){                
                appendMessage(data);
                setMessageToRead();
                removeLastRead();
                makeMessageWindowToEnd();
            });

            socket.on(chatObjectID + 'updateTo{{ currentUser.id|string }}', function(){
                updateLastRead();
                makeMessageWindowToEnd();
            });

            $('#messages').text("");

            $.ajax({
                type:"POST",
                url: "{{ url_for('user.hichat') }}",
                data: { senderID : "{{ currentUser.id|string }}", receiverID : chatObjectID},
                success: function(data) {
                    messageInfos = JSON.parse(data);
                    for (messageInfo in messageInfos) {
                        appendMessage(messageInfos[messageInfo]);
                    }                        
                    findLastRead();
                    makeMessageWindowToEnd();
                    setMessageToRead();
                }
            });
        }

        function findLastRead(){
            var allElements = $('#messages').children(".justify-content-end")
            var lastElementPos = allElements.length - 1;
            while(lastElementPos > -1){
                if(allElements.eq(lastElementPos).attr("isread") == "true"){
                    var lastElement = allElements.eq(lastElementPos);
                    if(lastElement.next().hasClass("justify-content-start"))
                        break;
                    insertReadMessage(lastElement);
                    lastReadPos = lastElementPos;
                    break;
                }
                lastElementPos--;
            }
        }

        function updateLastRead(){            
            var lastElement = $('#messages').children().last();
            if(lastElement.attr("isread") == "false" && lastElement.hasClass("justify-content-end")) {
                removeLastRead();
                lastElement.attr("isread", "true");
                insertReadMessage(lastElement);
                lastReadPos = $('#messages').children(".justify-content-end").length - 1;
            }
        }

        function insertReadMessage(lastElement){
            if(chatObjectID == "{{ currentUser.id|string }}")
                return;
            var readInfo = '<div class="text-muted small">read</div>';
            lastElement.append(readInfo);
        }

        function removeLastRead(){
            $('#messages').children(".justify-content-end").eq(lastReadPos).children(".text-muted").remove();
        }

        function appendMessage(messageInfo) {
            var senderID = messageInfo.sender_id.$oid;
            var message = messageInfo.message;
            if(senderID == "{{ currentUser.id }}") {
                var isRead = messageInfo.isRead;
                var newLI = '<div class="row justify-content-end" isread=' + isRead + '>' +
                            '<div class=" text-break background px-2 py-1 message" style="max-width:80%;">' +
                            message + '</div>' +                            
                            '<div class="w-100"></div></div>';
                $('#messages').append(newLI);
            }
            else {
                var newLI = '<div class="row justify-content-start">' +
                            '<div class="text-break background px-2 py-1 message" style="max-width:80%;">' +
                            message + '</div>' +
                            '<div class="w-100"></div></div>';
                $('#messages').append(newLI);
            }
        }

        function makeMessageWindowToEnd(){
            $("#messageWindow").scrollTop($("#messages").height());
        }
        
    </script>
{% endblock scripts %}

{% block footer %}
{% endblock footer %}