{% extends "layouts/app.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
	{{ super() }}
	<style type = "text/css">
		.no-underline {
            text-decoration: none !important;
        }

        .pointer {cursor: pointer;}

        .hover-bg:hover {
            background-color: Khaki;
        }

        .message {
            border-radius: 10px;
        }

        .justify-content-end + .justify-content-end {
            margin-top: 2px;
        }

        .justify-content-start + .justify-content-start {
            margin-top: 2px;
        }

        .justify-content-end + .justify-content-start {
            margin-top: 20px;
        }

         .justify-content-start + .justify-content-end {
            margin-top: 20px;
        }

	</style>
{% endblock styles %}

{% block page %}
  <div class="row" id="content">

    <div id="usersWindow" class="col-4 overflow-auto">
        <ul id="usersList" class="list-group">
            {% for u in users %}
                <li id="{{u['_id'][0]['_id']}}" username="{{u['_id'][0]['name']}}" class="list-group-item pointer hover-bg" onclick="changeObject(this)">
                    <div class="text-break">{{u['_id'][0]['name']}}</div>
                    <div class="text-muted small text-break d-none d-md-block">{{u['messages'][0]['sender'][0]}}: {{u['messages'][0]['message']}}</div>
                </li>
            {% endfor %}
        </ul>

    </div>

    <div class="col-8">
        <div id="messageWindow" class="overflow-auto bg-white p-2">
            <div id="messages" class="container" ></div>            
        </div>
        <form id="inputForm" action="">
            <input id="message" class="form-control" autocomplete="off" /><button style="display:none;">Send</button>
        </form>
    </div>

  </div>
{% endblock page %}

{% block scripts %}
  {{ super() }}
    <script>
        var chatObjectID;
        var chatObjectName;

        $(function () {
            resizeContent();
            appendUnforeSeenUser();

            $('form').submit(function(e){
                e.preventDefault(); // prevents page reloading\
                let inputObj = $('#message');
                if(inputObj.val().trim()) {
                    socket.emit('client send message', "{{ currentUser.id|string }}", chatObjectID, inputObj.val());                    
                }
                inputObj.val('');
                return false;
            });


        });

      // $( "#message" ).focus(function() {

      //   socket.on('{{ currentUser.id|string }}', function(data){
      //     $('#messages').append($('<li>').text(data.senderName + ": " + data.message));
      //     $.ajax({
      //       type:"POST",
      //       url: "{{ url_for('user.hichat_update') }}",
      //       data: { senderID : chatObjectID, receiverID : "{{ currentUser.id|string }}", message : data.messageID},
      //       success: function(data) {
      //         messageInfos = JSON.parse(data)
      //         for (messageInfo in messageInfos) {
      //           var senderName;
      //           if (messageInfos[messageInfo].sender_id.$oid == "{{ currentUser.id|string }}")
      //             senderName = "{{ currentUser.name}}";
      //           else
      //             senderName = chatObjectName
      //           $('#messages').append($('<li>').text(senderName + ": " + messageInfos[messageInfo].message));
      //         }            
      //       }
      //     });
      //   });

      // });

        function resizeContent(){
            var windowHeight = $(window).innerHeight();            
            var navHeight = $("#header").innerHeight();
            var formHeight = $("#inputForm").innerHeight();
            $("#messageWindow").height(windowHeight- formHeight - navHeight);
            $("#usersWindow").height(windowHeight - navHeight);
        }

        function prependUser(userID, message, senderName){
            var chatObjectLI = $("#" + userID);
            if(chatObjectLI.length == 1) {
                $("#usersList").prepend(chatObjectLI)
                var secondChild = chatObjectLI.children().eq(1);
                var newMessage = senderName + ": " + message;
                if(secondChild.length == 1)
                    secondChild.text(newMessage);
                else if (secondChild.length ==0) {
                    var senderDIV = '<div class="text-muted small text-break d-none d-md-block">' + newMessage + '</div>';
                    chatObjectLI.append(senderDIV);
                }
            }
            else if(chatObjectLI.length == 0){
                console.log("User not found");
            }
        }

        function appendUnforeSeenUser(){
            var allUserList = [{% for user in Tusers %}{id: '{{user.id}}', name: '{{ user.name }}'}, {% endfor %}];
            for (u in allUserList) {
                let chatObjectLI = $("#" + allUserList[u].id);
                if(chatObjectLI.length == 0) {
                    let newUser = '<li id="' + allUserList[u].id + '" username="' + allUserList[u].name + '" class="list-group-item pointer hover-bg" onclick="changeObject(this)"><div>' + allUserList[u].name + '</div></li>'
                    $("#usersList").append(newUser);
                }
            }
        }

        function changeObject(obj) {
            socket.off(chatObjectID + 'To{{ currentUser.id|string }}'); //unsubscribe last event
            var thisObj = $(obj);
            chatObjectID = thisObj.attr('id');
            chatObjectName = thisObj.attr('username');

            socket.on(chatObjectID + 'To{{ currentUser.id|string }}', function(data){
                appendMessage(data.sender.id, data.message);
                $("#messageWindow").scrollTop($("#messages").height());
                if(data.sender.id == "{{ currentUser.id|string }}")
                    prependUser(chatObjectID, data.message, "{{ currentUser.name|string }}")
                else
                    prependUser(data.sender.id, data.message, data.sender.name);
            });

            $('#messages').text("");

            $.ajax({
                type:"POST",
                url: "{{ url_for('user.hichat') }}",
                data: { senderID : "{{ currentUser.id|string }}", receiverID : chatObjectID},
                success: function(data) {
                    messageInfos = JSON.parse(data);
                    for (messageInfo in messageInfos) {
                        appendMessage(messageInfos[messageInfo].sender_id.$oid, messageInfos[messageInfo].message);
                    }
                    $("#messageWindow").scrollTop($("#messages").height());
                }
            });
            resizeContent();
        }

        function appendMessage(senderID, message) {
            if(senderID == "{{ currentUser.id }}") {
                var newLI = '<div class="row justify-content-end"><div class=" text-break background px-2 py-1 message" style="max-width:80%;">' + message + '</div></div>'
                $('#messages').append(newLI);
            }
            else {
                var newLI = '<div class="row justify-content-start"><div class="text-break background px-2 py-1 message" style="max-width:80%;">' +  message + '</div></div>'
                $('#messages').append(newLI);
            }
        }
        
    </script>
{% endblock scripts %}

{% block footer %}
{% endblock footer %}