{% extends "layouts/app.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
<style type = "text/css">

.table th
{
width: 50vw;
}

</style>
{% endblock styles %}

{% block page %}
	<div class="row">
		<div class="col-auto">
			<br>
			{% include "layouts/user.html" %}
		</div>

	    <div class="col-md-9">
			<br>
			<div class="card">
				<div class="card-header text-center bg-warning p-2 border border-dark"> 所有問題 </div>
				<div class="card-body border border-dark">
					<table class="table table-responsive">
					<thead>
						<tr>
						<th scope="col">問題主旨</th>
						<th scope="col">問題描述</th>
						</tr>
					</thead>
					<tbody>
						{% for question in questions %}
							<tr>
							<th scope="row"><a >{{ question.title }}</a></th>
							<td>{{ question.detail }}</td>
							</tr>
						{% endfor %}	    
					</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock page %}