{% extends "layouts/app.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
<style type = "text/css">

.table th
{
width: 50vw;
}

</style>
{% endblock styles %}

{% block page %}
	<div class="row">
		<div class="col-auto">
			<br>
			{% include "layouts/user.html" %}
		</div>

	    <div class="col-md-9">
			<br>
			<div class="card">
				<div class="card-header text-center bg-warning p-2 border border-dark"> 所有問題 </div>
				<div class="card-body border border-dark">
					<table class="table table-responsive">
					<thead>
						<tr>
						<th scope="col">問題主旨</th>
						<th scope="col">提問時間</th>
						<th scope="col">狀態</th>
						</tr>
					</thead>
					<tbody>
						{% for question in questions %}
						<tr data-toggle="modal" data-target="#qaModal{{ question.id }}" style="cursor: pointer;">
							<th scope="row">{{ question.title }}</th>

							<!-- Modal -->
							<div class="modal fade" id="qaModal{{ question.id }}" tabindex="-1" role="dialog" aria-labelledby="qaModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header bg-warning">
									<h5 class="modal-title" id="qaModalLabel">問題回報</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									</div>
									<div class="modal-body">
										<div>問題主旨：{{ question.title }}</div>
										<div>問題描述：{{ question.detail }}</div>
										<hr>
										{% if question.response == None %}
										<div>問題回覆：無。</div>
										{% else %}
										<div>問題回覆：{{ question.response }}</div>
										{% endif%}
									</div>
								</div>
								</div>
							</div>

							<td>{{ question.create_time.strftime('%Y-%m-%d') }}</td>

							{% if question.response == None %}
								<td style="color: red;">未收到回覆</td>
							{% else %}
								<td style="color:#00A600">已獲得回覆</td>
							{% endif%}
						</tr>
						{% endfor %}	    
					</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock page %}