{% extends "layouts/app.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
	{{ super() }}
	<style type = "text/css">
		.productImg {
			max-width: 100px;
		    max-height:200px;
		}

	</style>
{% endblock styles %}

{% block scripts %}
	{{ super() }}
	<script type="text/javascript">
		
		function check_all(obj,cName1, cName2){
			var checkbox1 = document.getElementsByName(cName1);
			var checkbox2 = document.getElementsByName(cName2);
			for(var i=0; i<checkbox1.length; i++){
				checkbox1[i].checked = obj.checked;
			}

			for(var i=0; i<checkbox2.length; i++){
				checkbox2[i].checked = obj.checked;
			}
		}
		/*
		function check_seller(obj,cName){
			var checkbox = document.getElementsByName(cName);
			for(var i=0; i<checkbox.length; i++){
				checkbox[i].checked = obj.checked;
			}
		}*/

		$(document).ready(function(){
			$('#checkBtn').click(function(){
				var modal = document.getElementById("modaltabalbody");
				modal.innerHTML="";
				var text = "";
				var price = 0;
				var total = 0;
				
				$("[name=productCheck]:checked").each(function(){
					text = $(this).attr('productname');
					price = isNaN(parseInt($(this).attr('price'))) ? 0 : parseInt($(this).attr('price'));
					total += isNaN(parseInt($(this).attr('price'))) ? 0 : parseInt($(this).attr('price'));
					modal.innerHTML += "<tr><td>" + text + "</td><td>"  + price + "</td></tr><br>";
      			});   
				modal.innerHTML +=  "<p>總價格:" + total  + "</p>";
			});
		});

		$('#myModal').on('shown.bs.modal', function () {
 			$('#myInput').trigger('focus');
		});

		$('input:checkbox').change(function (){
      		var total = 0;
      		$('input:checkbox:checked').each(function(){
        		total += isNaN(parseInt($(this).attr('price'))) ? 0 : parseInt($(this).attr('price'));
      		});     
	  			total.toString();
      			$("#total").text(total);
      		if(parseInt($('#total').text()) > {{hicoin}}) {
      			$("#notEnough").removeClass("d-none");
      			$("#submit").addClass("d-none");
      		}
      		else {
      			$("#notEnough").addClass("d-none");
      			$("#submit").removeClass("d-none");
      		}
		});

		function moveCart(obj){
			{% if current_user.is_anonymous %}
				window.location = "{{ url_for('login', _external=True, next=url_for('cart')) }}";
			{% endif %}

			var thisObj=$(obj);

			var data = {
				csrf_token: $("#csrf_token").val(),
				cart: true,
			};

			$.ajax({
				type:"POST",
				url: "{{ url_for('cartOperation') }}",
				data: { product_id : thisObj.val()},
				success: function(data) {
					thisObj.text(data);
				}
			});

			thisObj.parent().parent().remove();

			return false;
		}

	</script>
{% endblock scripts %}

{% block page %}
	<form action="" method="post">
		<div class="row">
		    <div class="col-md-12">
				<br>
				<table class="table">
				  	<thead>
				    	<tr>
							<th>
								<input type="checkbox" value="" name="checkall" onclick="check_all(this,'checkFormSeller', 'productCheck')"  id="checkbox">
							</th>
				      		<th scope="col">商品</th>
				      		<th scope="col">賣家</th>
				      		<th scope="col">售價</th>
				      		<th scope="col">折價券</th>
				      		<th scope="col">移出購物車</th>
				    	</tr>
				  	</thead>
				  	<tbody>
				  		<!--
				  		<tr>
						<input type="checkbox" value="" name="checkFormSeller" onclick="check_seller(this, 'productCheck')"  id="checkbox">全選賣家
						<input type="checkbox" value="" name="c" id="checkbox">賣家</tr>	-->
						{{ form.csrf_token }}		
				  		{% for product in products %}
					    	<tr>
								<td class="align-middle">
									<input type="checkbox" value="{{product.id}}" name="productCheck"  id="{{product.id}}" price="{{product.price}}" productname="{{product.name}}">
								</td>
								<th scope="row" class="align-middle" name="productname">
									<img class="productImg" src="{{url_for('static', filename = 'image/'+product.id|string +'/' + product.image)}}"> 
									<a href="{{ url_for('show_normal', product_id=product.id|string) }}" target=_blank >{{product.name}}</a>
								</th>
					      		<td class="align-middle">{{product.seller_id.name}}</td>
					      		<td class="align-middle" name="productprice">{{product.price}}</td>
					      		<td class="align-middle">select option</td>
					      		<td class="align-middle"><button value="{{ product.id }}" onclick="return moveCart(this)" class="btn btn-sencondary">移出購物車</button></td>
					    	</tr>
						{% endfor %}
				  	</tbody>
				</table>
				<br>			
			</div>		
		</div>


		<div class="float-right text-right">
			<p>目前有 {{ hicoin }} hicoin</p>
			<p>
				合計花費: <span id="total">0</span>
			</p>
			<p class="d-none alert alert-danger" id="notEnough" role="alert">
				餘額不足，請先充值 
			</p>


		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="checkBtn">
			結帳
	  	</button>
	  

	 	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
		  		<div class="modal-content">
					<div class="modal-header">
			  			<h5 class="modal-title" id="exampleModalLabel">結帳品項</h5>
			  			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
			  			</button>
					</div>

					<div class="modal-body" id="modaldata">	
						<table class="table">
							<thead>
								<tr>
									<th scope="col">商品</th>
									<th scope="col">售價</th>
								</tr>
							</thead>
							<tbody id="modaltabalbody">

							</tbody>
						</table>
					</div>
					
					<div class="modal-footer">
			 			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						{{ form.submit(class_="btn btn-first float-right") }}
					</div>
		  		</div>
			</div>
	    </div>
	</form>
{% endblock page %}
{%block footer%}{%endblock footer%}