{% extends "layouts/app.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page %}
	<br>
	<div class="row">
		<div class="col-auto">
			{% include "layouts/user.html" %}
		</div>

	    <div class="col-md-9">
	    	<div class="card">
	    		<div class="card-header text-center bg-warning p-2 border border-dark">
	    			密碼設定
	    		</div>
	    		<div class="card-body border border-dark">
					<form action="{{ url_for('user.password') }}" method="POST">
						{{ form.csrf_token }}
						<div class="col-lg-10 form-group row required m-0">
		                    {{ form.old_password.label(class="col-lg-3 col-form-label text-lg-right") }}

							<div class="col-lg-9">
								{% if form.old_password.errors %}
									{{ form.old_password(class="form-control is-invalid") }}
									{% for error in form.old_password.errors %}<p class="invalid-feedback" role="alert"><strong>{{ error }}</strong></p>{% endfor %}
								{% else %}
									{{ form.old_password(class="form-control") }}
								{% endif %}
							</div>
		                </div><br>

						<div class="col-lg-10 form-group row required m-0">
		                    {{ form.password.label(class="col-lg-3 col-form-label text-lg-right") }}

							<div class="col-lg-9">
								{% if form.password.errors %}
									{{ form.password(class="form-control is-invalid") }}
									{% for error in form.password.errors %}<p class="invalid-feedback" role="alert"><strong>{{ error }}</strong></p>{% endfor %}
								{% else %}
									{{ form.password(class="form-control") }}
								{% endif %}
							</div>
		                </div><br>
		                
						<div class="col-lg-10 form-group row required m-0">
		                    {{ form.confirm.label(class="col-lg-3 col-form-label text-lg-right") }}

							<div class="col-lg-9">
								{% if form.confirm.errors %}
									{{ form.confirm(class="form-control is-invalid") }}
									{% for error in form.confirm.errors %}<p class="invalid-feedback" role="alert"><strong>{{ error }}</strong></p>{% endfor %}
								{% else %}
									{{ form.confirm(class="form-control") }}
								{% endif %}
							</div>
		                </div><br>

		                <div class="row justify-content-center">
							<div class="col-lg-3 col-md-6 col-9 form-group">
								{{ form.submit(class="btn btn-primary col-12",value="送出") }}
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock page %}