{% extends "layouts/app.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page %}
	<div class="row">
		<div class="col-auto">
			<br>
			{% include "layouts/user.html" %}
		</div>
	    <div class="col-md-9">
			<br>

			<div class="row justify-content-center align-items-center bg-warning border border-dark rounded">
				<div class="col-auto ">
					<p class="text-cneter rounded" style="margin: 5px 5px 5px;"> 密碼設定 </p>
				</div>
			</div>

			<form action="{{ url_for('user.password') }}" method="POST">
				{{ form.csrf_token }}
			<div class="row justify-content-center border border-dark rounded" >
				
				<div class=" col-md-12 align-self-center" style="margin: 10vh ;">
					<div class="row">
					<div class=" col-md-12 " style="margin: 3vh ;">
						<div class="row justify-content-center form-group required" >
							<div class="col-auto">
								<p> 舊密碼</p>
							</div>
							<div class="col-lg-5">
							{% if form.old_password.errors %}
							{{ form.old_password(class="form-control is-invalid") }}
							{% for error in form.old_password.errors %}<p class="invalid-feedback" role="alert"><strong>{{ error }}</strong></p>{% endfor %}
						{% else %}
							{{ form.old_password(class="form-control") }}
						{% endif %}
							</div>
						</div>
					</div>

					<div class=" col-md-12 " style="margin: 3vh;">
						<div class="row justify-content-center form-group required" >
							<div class="col-auto">
								<p> 新密碼</p>
							</div>
							<div class="col-lg-5">
							{% if form.password.errors %}
							{{ form.password(class="form-control is-invalid") }}
							{% for error in form.password.errors %}<p class="invalid-feedback" role="alert"><strong>{{ error }}</strong></p>{% endfor %}
						{% else %}
							{{ form.password(class="form-control") }}
						{% endif %}
							</div>
						</div>
					</div>

					<div class=" col-md-12 " style="margin: 3vh;">
						<div class="row justify-content-center form-group required" >
							<div class="col-auto">
								<p> 確認新密碼</p>
							</div>
							<div class="col-lg-5">
							{% if form.confirm.errors %}
							{{ form.confirm(class="form-control is-invalid") }}
							{% for error in form.confirm.errors %}<p class="invalid-feedback" role="alert"><strong>{{ error }}</strong></p>{% endfor %}
						{% else %}
							{{ form.confirm(class="form-control") }}
						{% endif %}
							</div>
						</div>
					</div>

					<div class="col-md-12">
						<div class="row justify-content-center form-group required" >
							<div class="col-7"></div>
							{{ form.submit(class="btn btn-primary col-auto",value="送出") }}
							
						</div>
					</div>
					</div>
				</div>



				</form>

			</div>

		    
		</div>
	</div>
{% endblock page %}