{% extends "layouts/app.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
	{{ super() }}
{% endblock head %}

{% block scripts %}
	{{ super() }}
	<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
	<script>
		var url = "{{ url_for('product_like', product_id="") }}";
		$(document).ready(function(){
			$('#formBtn').click(function(e){
				let $form = $(this).closest('form');
				errortext = $(this).attr('error');
				errortext.toString();
				$("#test").text(errortext);
					if(errortext == "0"){
						Swal.fire({
						position: 'top',
						icon: 'success',
						title: '修改成功',
						showConfirmButton: false,
						timer: 1500
					}).then((result) => {
					$form.submit();
				});}
				else{
					$form.submit();
				}
			});
		});
	</script>
{% endblock scripts %}

{% block page %}
	<div class="row">
		<div class="col-auto">
			<br>
			{% include "layouts/user.html" %}
		</div>

	    <div class="col-md-9">
			<br>

		<div class="card">
			<div class="card-header text-center bg-warning p-2 border border-dark"> 個人資料 </div>
			<div class="card-body border border-dark">
			
				<form action="{{ url_for('user.profile') }}" method="POST" enctype="multipart/form-data">
					{{ form.csrf_token }}
					<div class="row justify-content-center rounded">
					
						<div class="col-6">
							{% if current_user.icon == "default.png" %}
								<img src="{{ url_for('static',filename='logo.svg') }}" alt="Logo" style="width: 180px;height: 180px;">
							{% else %}
								<img src="{{url_for('static', filename = 'icon/'+
							current_user.id|string +'/' + current_user.icon)}}" alt="icon" style = "height:250px;width:100%;">
							{% endif %}
							<div class=" row">
								<div class="col-auto form-group required" >
									{% if form.icon.errors %}
									{{ form.icon(class="form-control is-invalid") }}
									{% for error in form.icon.errors %}<p class="invalid-feedback" role="alert"><strong>{{ error }}</strong></p>{% endfor %}
								{% else %}
									{{ form.icon(class="form-control") }}
								{% endif %}
								</div>
							</div>
						</div>
						
						<div class="col-6">
							<div style="transform: translate(0,8vh);">	
								<h1 class="text-center">{{ current_user.account }}</h1>
								<p class="text-center">評價星星</p>
							</div>
						</div>

						<div class="col-6">
							<div class="row justify-content-center">
								<div class="col-lg-10 form-group required">
									<p>*姓名:</p>
									{% if form.name.errors %}
										{{ form.name(class="form-control is-invalid") }}
										{% for error in form.name.errors %}<p class="invalid-feedback" role="alert"><strong>{{ error }}</strong></p>{% endfor %}
									{% else %}
										{{ form.name(class="form-control") }}
									{% endif %}
								</div>
							</div>

							<div class="row justify-content-center">
								<div class="col-lg-10 form-group required">
									<p>電話:</p>
									{% if form.phone.errors %}
										{{ form.phone(class="form-control is-invalid") }}
										{% for error in form.phone.errors %}<p class="invalid-feedback" role="alert"><strong>{{ error }}</strong></p>{% endfor %}
									{% else %}
										{{ form.phone(class="form-control") }}
									{% endif %}
								</div>
							</div>

							<div class="row justify-content-center">
									<div class="col-lg-10 form-group required">
										<p>生日:</p>
										{% if form.birth.errors %}
											{{ form.birth(class="form-control is-invalid" ) }}
											{% for error in form.birth.errors %}<p class="invalid-feedback" role="alert"><strong>{{ error }}</strong></p>{% endfor %}
										{% else %}
											{{ form.birth(class="form-control") }}
										{% endif %}
									</div>
							</div>
							
						</div>
							
						
						<div class="col-10 border border-dark bg-dark">
							<p class="text-center text-light" style="margin: 5px 5px 5px;"> 賣場設定 </p>
						</div>
						<div class="col-10 border border-dark " style="margin: 0px 5px 5vh; background-color: #dcdcdc;">
								<div class="row justify-content-center">
										<div class="col-lg-10 form-group required">
											<p>賣場名稱:</p>
											{% if form.store_name.errors %}
												{{ form.store_name(class="form-control is-invalid") }}
												{% for error in form.store_name.errors %}<p class="invalid-feedback" role="alert"><strong>{{ error }}</strong></p>{% endfor %}
											{% else %}
												{{ form.store_name(class="form-control") }}
											{% endif %}
										</div>
									</div>
		
									<div class="row justify-content-center">
										<div class="col-lg-10 ">
											<p>交易地點:</p>
											
										</div>
									</div>
		
									<div class="row justify-content-center">
											<div class="col-lg-10 ">
												<p>交易時間(起始):</p>
												
											</div>
									</div>

									<div class="row justify-content-center">
										<div class="col-lg-10 ">
											<p>交易時間(結束):</p>
											
										</div>
									</div>

									
								</div>
								<div class="col-7 ">
										
								</div>
								<div class="col-3 form-group required">
									<button type="button" class="btn btn-primary col-12" id="formBtn" error="{{form.store_name.errors}}">修改</button>	
								</div>
						</div>
						<br>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock page %}