{% extends "layouts/app.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page %}
    <div class="row">
        <div class="col-md-2 ">
            <br>
            {% include "layouts/category.html" %}
        </div>
        <div class="col-md-10">
            <br>
                        <div class="card">
                <div class="card-header text-white bg-danger font-weight-bold" style="height: auto;">優惠商品(85折)</div>
                <div class="card-body">
                    <div id="hotProductIndicators" class="carousel slide" data-ride="carousel" data-interval="8000">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">

                                    {% if discount_products | length == 0 %}
                                </div>
                            </div>
                                    {% endif %}

                                    {% for product in discount_products %}
                                        
                                        <div class="col-md-3 col-6">
                                            <a href="{{ url_for('show_normal', product_id=product.id|string) }}">
                                            <img class="card-img-top" src="{{url_for('static', filename = 'imageLoading.gif')}}" lsrc="{{url_for('static', filename = 'image/'+ product.id|string +'/'+ product.image|string)}}" alt="Product_picture" height="180px">
                                            </a>
                                            <div>
                                                <a style="display: inline-block; width: 55%; overflow: hidden; text-overflow: ellipsis; white-space:nowrap; background-color: #e0e0e0; color: black; text-decoration:none;" href="{{ url_for('show_normal', product_id=product.id|string) }}">{{product.name}}</a>
                                                <a style="display: inline-block; width: 45%; float: right; text-align: center; text-decoration:none;" class="bg-secondary text-white" href="{{ url_for('show_normal', product_id=product.id|string) }}">${{product.price}}</a>
                                            </div>
                                        </div>

                                    {% if loop.index % 4 == 0 and loop.index > 1 %}
                                </div>
                            </div>
                                        {% if loop.index != loop.length %}
                            <div class="carousel-item">
                                <div class = "row">
                                        {% endif %}
                                    {% endif %}

                                    {% if loop.length % 4 != 0 and loop.index == loop.length%}
                                </div>
                            </div>
                                    {%endif%}

                                    {% endfor %}
                            
                        </div>

                    </div>
                </div>
            </div>

            <br>

            <div class="card">
                <div class="card-header text-white bg-secondary font-weight-bold" style="height: auto;">熱門商品</div>
                <div class="card-body">
                    <div id="hotProductIndicators" class="carousel slide" data-ride="carousel" data-interval="8000">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    {% for product in popular_products %}

                                        <div class="col-md-3 col-6">
                                            <a href="{{ url_for('show_normal', product_id=product.id|string) }}">
                                            <img class="card-img-top" src="{{url_for('static', filename = 'imageLoading.gif')}}" lsrc="{{url_for('static', filename = 'image/'+ product.id|string +'/'+ product.image|string)}}" alt="Product_picture" height="180px">
                                            </a>
                                            <div>
                                                <a style="display: inline-block; width: 55%; overflow: hidden; text-overflow: ellipsis; white-space:nowrap; background-color: #e0e0e0; color: black; text-decoration:none;" href="{{ url_for('show_normal', product_id=product.id|string) }}">{{product.name}}</a>
                                                <a style="display: inline-block; width: 45%; float: right; text-align: center; text-decoration:none;" class="bg-secondary text-white" href="{{ url_for('show_normal', product_id=product.id|string) }}">${{product.price}}</a>
                                            </div>
                                        </div>

                                    {% if loop.index % 4 == 0 and loop.index > 1 %}
                                </div>
                            </div>
                                        {% if loop.index != loop.length %}
                            <div class="carousel-item">
                                <div class = "row">
                                        {% endif %}
                                    {% endif %}

                                    {% if loop.length % 4 != 0 and loop.index == loop.length%}
                                </div>
                            </div>
                                    {%endif%}

                                    {% endfor %}

                        </div>

                    </div>
                </div>
            </div>
                          

            <br>

            <div class="card">
                <div class="card-header text-white bg-secondary font-weight-bold" style="height: auto;">最新一般商品</div>
                <div class="card-body">
                    <div id="newProductIndicators" class="carousel slide" data-ride="false" data-interval="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    {% for product in normal_products %}

                                    <a href="{{ url_for('show_normal', product_id=product.id|string) }}">
                                        <div class="col-md-3 col-6">
                                            <img class="card-img-top" src="{{url_for('static', filename = 'imageLoading.gif')}}" lsrc="{{url_for('static', filename = 'image/'+ product.id|string +'/'+ product.image|string)}}" alt="Product_picture" height="180px">
                                            <div>
                                                <a style="display: inline-block; width: 55%; overflow: hidden; text-overflow: ellipsis; white-space:nowrap; background-color: #e0e0e0; color: black; text-decoration:none;" href="{{ url_for('show_normal', product_id=product.id|string) }}">{{product.name}}</a>
                                                <a style="display: inline-block; width: 45%; float: right; text-align: center; text-decoration:none;" class="bg-secondary text-white" href="{{ url_for('show_normal', product_id=product.id|string) }}">${{product.price}}</a>
                                            </div>
                                        </div>
                                    </a>

                                    {% if loop.index % 4 == 0 and loop.index > 1 %}
                                </div>
                            </div>
                                        {% if loop.index != loop.length %}
                            <div class="carousel-item">
                                <div class = "row">
                                        {% endif %}
                                    {% endif %}

                                    {% if loop.length % 4 != 0 and loop.index == loop.length%}
                                </div>
                            </div>
                                    {%endif%}

                                    {% endfor %}
                                
                        </div>
                        <a class="carousel-control-prev" href="#newProductIndicators" role="button" data-slide="prev" style="width: auto;">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#newProductIndicators" role="button" data-slide="next" style="width: auto;">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>

            <br>

            <div class="card">
                <div class="card-header text-white bg-secondary font-weight-bold" style="height: auto;">最新競標商品</div>
                <div class="card-body">
                    <div id="bidProductIndicators" class="carousel slide" data-ride="false"  data-interval="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    {% for product in bidding_products %}

                                    <a href="{{ url_for('show_bidding', product_id=product.id|string) }}">
                                        <div class="col-md-3 col-6">
                                            <div class="bg-dark text-white text-center">
                                                剩餘時間：
                                                {{"%s days"|format(( product.bid.due_time - now).days)}}
                                            </div>
                                            <img class="card-img-top" src="{{url_for('static', filename = 'imageLoading.gif')}}" lsrc="{{url_for('static', filename = 'image/'+ product.id|string +'/'+ product.image|string)}}" alt="Product_picture" height="180px">
                                            <div class="align-items-end">
                                                <a style="display: inline-block; width: 55%; overflow: hidden; text-overflow: ellipsis; white-space:nowrap; background-color: #e0e0e0; color: black; text-decoration:none;" href="{{ url_for('show_bidding', product_id=product.id|string) }}">{{product.name}}</a>
                                                <a style="display: inline-block; width: 45%; float: right; text-align: center; text-decoration:none;" class="bg-secondary text-white" href="{{ url_for('show_bidding', product_id=product.id|string) }}">${{product.price}}</a>
                                            </div>
                                        </div>
                                    </a>
    
                                        {% if loop.index % 4 == 0 and loop.index > 1 %}
                                    </div>
                                </div>
                                            {% if loop.index != loop.length %}
                                <div class="carousel-item">
                                    <div class = "row">
                                            {% endif %}
                                        {% endif %}

                                        {% if loop.length % 4 != 0 and loop.index == loop.length%}
                                    </div>
                                </div>
                                        {%endif%}
    
                                        {% endfor %}
                
                        </div>
                        <a class="carousel-control-prev" href="#bidProductIndicators" role="button" data-slide="prev" style="width: auto;">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#bidProductIndicators" role="button" data-slide="next" style="width: auto;">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock page %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript"> 
        //當圖片載入失敗，使用預設圖片代替//
        document.addEventListener("error", function (e) {
            let elem = e.target;
            if (elem.tagName.toLowerCase() == 'img') {
                elem.src = "{{ url_for('static',filename='errorPic.jpg') }}";
            }
            }, true);

        $(function(){            
            $.each($(".card-img-top"), function(){
                var this_image = this;
                var src = $(this_image).attr('src') || '' ;
                if(src.length > 0){
                    var lsrc = $(this_image).attr('lsrc') || '' ;
                    if(lsrc.length > 0){
                        var img = new Image();
                        img.src = lsrc;
                        this_image.src = img.src;
                    }
                }
            });
        });

    </script>
{% endblock scripts %}