{% extends "layouts/app.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page %}
	<br>
	<div class="row">
		<div class="col-auto">
			{% include "layouts/admin.html" %}
		</div>

	   	<div class="col-md-9">
	    	<div class="card">
	    		<div class="card-header text-center bg-warning p-2 border border-dark">
	    			問題回覆
	    		</div>
	    		<div class="card-body border border-dark">
					<form action="{{ url_for('admin.response', question_id=question.id) }}" method="POST">
						{{ form.csrf_token }}
						<div class="col-lg-10 form-group row required m-0">
							<label class="col-lg-3 col-form-label text-lg-right">問題主旨</label>

							<label class="col-lg-9 col-form-label">
								{{ question.title }}
							</label>
		                </div><br>

						<div class="col-lg-10 form-group row required m-0">
							<label class="col-lg-3 col-form-label text-lg-right">問題描述</label>

							<label class="col-lg-9 col-form-label">
								{{ question.detail }}
							</label>
		                </div><br>

			            {% if question.response == None %}
							<div class="col-lg-10 form-group row required m-0">
			                    {{ form.response.label(class="col-lg-3 col-form-label text-lg-right") }}

								<div class="col-lg-9">
									{% if form.response.errors %}
										{{ form.response(class="form-control is-invalid") }}
										{% for error in form.response.errors %}<p class="invalid-feedback" role="alert"><strong>{{ error }}</strong></p>{% endfor %}
									{% else %}
										{{ form.response(class="form-control") }}
									{% endif %}
								</div>
				            </div><br>

			                <div class="row justify-content-center">
								<div class="col-lg-3 col-md-6 col-9 form-group">
									{{ form.submit(class="btn btn-primary col-12",value="送出") }}
								</div>
							</div>
			            {% else %}
							<div class="col-lg-10 form-group row required m-0">
								<label class="col-lg-3 col-form-label text-lg-right">問題回覆</label>

								<label class="col-lg-9 col-form-label">
									{{ question.detail }}
								</label>
				            </div><br>
			            {% endif %}
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock page %}