{% extends "layouts/app.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block scripts %}
	{{ super() }}
	<script type="text/javascript">
		$("form").submit(function(e) {
			var form = $(this);
			var url = form.attr('action');
			$.ajax({
				type:"POST",
				url: url,
				data: form.serialize(),
				success: function(data) {
					if (data != "error") {
						form.children("input#submit").val(data);

						if (data == "凍結")
							$("#" + form.find("input[id=product_id]").val()).text("販賣中");
						else if (data == "解凍")
							$("#" + form.find("input[id=product_id]").val()).text("已凍結");
					}
				}
			});
			e.preventDefault();
		});
	</script>
{% endblock scripts %}

{% block page %}
	<br>
	<div class="row">
		<div class="col-auto">
			{% include "layouts/admin.html" %}
		</div>

	   	<div class="col-md-9">
	    	<div class="card">
	    		<div class="card-header text-center bg-warning p-2 border border-dark">
	    			商品管理
	    		</div>
	    		<div class="card-body border border-dark">
	    			<a class="btn btn-primary {% if status == PRODUCT_STATUS['ALL'] %} active {% endif %}" href="{{ url_for('admin.product') }}">全部</a>
	    			<a class="btn btn-primary {% if status == PRODUCT_STATUS['SELLING'] %} active {% endif %}" href="{{ url_for('admin.product', status=PRODUCT_STATUS['SELLING']) }}">販賣中</a>
	    			<a class="btn btn-primary {% if status == PRODUCT_STATUS['SOLD'] %} active {% endif %}" href="{{ url_for('admin.product', status=PRODUCT_STATUS['SOLD']) }}">已售出</a>
	    			<a class="btn btn-primary {% if status == PRODUCT_STATUS['FROZEN'] %} active {% endif %}" href="{{ url_for('admin.product', status=PRODUCT_STATUS['FROZEN']) }}">已凍結</a>
	    			<a class="btn btn-primary {% if status == PRODUCT_STATUS['REMOVE'] %} active {% endif %}" href="{{ url_for('admin.product', status=PRODUCT_STATUS['REMOVE']) }}">已下架</a>
					<div class="table-responsive-lg">
						<table class="table table-striped table-border text-center">
							<thead>
								<tr>
									<th scope="col">名稱</th>
									<th scope="col">創建時間</th>
									<th scope="col">賣家</th>
									<th scope="col">狀態</th>
									<th scope="col">操作</th>
								</tr>
							</thead>
							<tbody>
								{% for product in products %}
								    <tr>
										<td class="align-middle">{{ product.name }}</td>
										<td class="align-middle">{{ product.create_time.strftime('%Y-%m-%d') }}</td>
										<td class="align-middle">
											{{ product.seller_id.name }}
										</td>
										<td id="{{ product.id }}" class="align-middle">
											{% if product.status == PRODUCT_STATUS['SELLING'] %}
												<div style="color: #00A600;">販賣中</div>
											{% elif product.status == PRODUCT_STATUS['SOLD'] %}
												已售出
											{% elif product.status == PRODUCT_STATUS['FROZEN'] %}
												<div style="color: red;">已凍結</div>
											{% elif product.status == PRODUCT_STATUS['REMOVE'] %}
												已下架
											{% endif %}
										</td>
										<td class="align-middle">
											{% if product.status == PRODUCT_STATUS['SELLING'] %}
												<form id="form" action="{{ url_for('admin.product') }}">
													{{ form.csrf_token }}
													{{ form.product_id(value=product.id|string) }}
													{{ form.submit(class="btn btn-secondary", value="凍結") }}
												</form>
											{% elif product.status == PRODUCT_STATUS['FROZEN'] %}
												<form id="form" action="{{ url_for('admin.product') }}">
													{{ form.csrf_token }}
													{{ form.product_id(value=product.id|string) }}
													{{ form.submit(class="btn btn-danger", value="解凍") }}
												</form>
											{% else %}
												無
											{% endif %}
										</td>
								    </tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
	    	</div>
		</div>
	</div>
{% endblock page %}